{% extends "admissions/admissionslayout.html" %}
{% block body %}

<div class="container" style="margin-top: 1vh;">
    <div style="padding: 18px;">
        <form method="post" enctype="multipart/form-data">
            

            
            {{form.hidden_tag()}}

            
        
            <input style="display:none" id="image-picker" type="file" accept="image/*" />

            <div class="controls" style="display: flex; align-items: center;">
                <button type="button" class="pill-button-alternate" data-toggle="modal" data-target="#exampleModal"> Add an Attachment</button>
            </div>
            
            <br/>
              
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add an Attachment</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div id="dynamicForm">
                            <div class="">
                                <div class="mb-3">
                                    {{form.attachmenttype.label}}
                                    {{form.attachmenttype (class="form-control webForm", placeholder="Enter")}}
                                </div>
                                <div class="form-floating mb-3">
                                    {{form.attachmentname (class="form-control webForm", placeholder="Enter")}}
                                    {{form.attachmentname.label}}
                                </div>
                                <div class="form-floating mb-3">
                                    {{form.attachmentfile (class="form-control webForm", placeholder="Enter")}}
                                    {{form.attachmentfile.label}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="pill-button-alternate" data-dismiss="modal">Cancel</button>
                      <!-- <button type="button" class="pill-button">Add an Attachment</button> -->
                      {{form.submit (class="pill-button")}}
                    </div>
                  </div>
                </div>
              </div>


            <!-- <div class="ellipse">
                <img src="/static/img/testimonials/kweku.jpg" alt="" width="100" style="border-radius: 50%;">
            </div> -->
            
            
            <!-- {{form.submit (class="pill-button", style="width:100%", onclick="") }} -->
           
        </form>

    </div>
    <div id="dynamicForm">
                            
      <div class="row">
              {% for school in userdata %}
              <div class="col-md-4">
                  <div class="card" style="padding: 20px 12px;">
                      <div class="flexRow">
                          <h6 class="text-muted">{{school.filetype}}</h6>
                          <a href="{{url_for('deleteAttatchment', id=school.id)}}">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                      </div>
                      <h4>{{school.filename}}</h4>
                  </div>
              </div>
              {% endfor %}
          </div>

  </div>

  <a href="{{url_for(metadata.nextUrl)}}">
    <button type="button" class="pill-button full">Next</button>
  </a>

</div>


{% endblock %}