{% extends "layout.html" %}

{% block body %}
        <div class="container" style="margin-top: 1vh;">
            <div style="padding: 18px;">
                <form action="", method="post">
                    {{form.hidden_tag()}}
                    <div class="progress" style="height: 5px; margin-bottom: 3vh;">
                        <div class="progress-bar bg-primary" role="progressbar" width="100" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>


                    <!-- <div class="ellipse">
                        <img src="/static/img/testimonials/kweku.jpg" alt="" width="100" style="border-radius: 50%;">
                    </div> -->

                    <div class="form-floating mb-3">
                        {{form.guardianrelationship (class="form-control webForm", placeholder="Enter your Guardian Relationship")}}
                        {{form.guardianrelationship.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.guardianname (class="form-control webForm", placeholder="Enter your Guardian Name")}}
                        {{form.guardianname.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.guardianaddress (class="form-control webForm", placeholder="Enter your Guardian Address")}}
                        {{form.guardianaddress.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.guardianmobile (class="form-control webForm", placeholder="Enter your Guardian Mobile")}}
                        {{form.guardianmobile.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.guardianemail (class="form-control webForm", placeholder="Enter your Guardian E-mail")}}
                        {{form.guardianemail.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.guardianjob (class="form-control webForm", placeholder="Enter your Guardian E-mail")}}
                        {{form.guardianjob.label}}
                    </div>
                    
                    {{form.submit (class="pill-button", style="width:100%", onclick="") }}
                   
                </form>

            </div>

        </div>


        {% endblock %}