{% extends "layout.html" %}

{% block body %}

<section class="hero7" style="padding-top: 15vh; height: 45vh;">
        
</section>

<section>
    <div class="container">
        <div class="row">
          <div class="col-md-8 order-1 order-lg-1" style="padding: 0 0 7px 7px;">
            <div class="tab-content" id="pills-tabContent" style="padding: 0 7px;">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

                <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">ABOUT CU</h5>
                <div style="padding-bottom: 5vh;">
                  <h6 style="font-weight: 700; font-family: open sans serif;">Central University is an educational Initiative of the International Central Gospel Church (ICGC).</h6>
                  <br>
                  <p>
                    It has its origins in a short-term Pastoral training institute, which was started in October 1988 by ICGC. It was later incorporated, in June 1991 under the name, Central Bible College. In 1993, the name was changed again to Central Christian College. The College later upgraded its programmes to the baccalaureate level, and in line with national aspirations, expanded its programmes to include an integrated and practice oriented business school, named Central Business School.
                  </p>
                  <br>
                  <p>
                    To reflect its new status as a liberal arts tertiary institution, the university was re-christened Central University College in 1998. The National Accreditation Board has since accredited it as a tertiary Institution. It is co-educational with equal access for male and female enrolment. Central University has eight (8) faculties/schools, namely the Central Business School (CBS), the School of Architecture and Design (SADe), School of Graduate Studies (SGS), Faculty of Arts and Social Sciences (FASS), Faculty of Law(FOL), School of Pharmacy(SOP), School of Engineering and Technology (SET) and  the School of Medicine and Health Sciences (SMHS) 
                  </p>
                  <br>
                  <p>
                    In January 2016, the University College received the long awaited Presidential Charter to become an autonomous and a fully-fledged university as Central University.
                  </p>
                </div>

                <div style="padding-bottom: 5vh;">
                  <h6 style="font-weight: 700; font-family: open sans serif;">MILESTONES</h6>
                   <br>
                   <p><b>1984</b> The International Central Gospel Church [ICGC] is founded by Rev. Dr. Mensa Otabil</p>
                   <p><b>1988</b> The ICGC opens a ministerial institute to train a new generation of leaders</p>
                   <p><b>1991</b> Central Bible College is birthed from the success of the ICGC ministerial institute</p>
                   <p><b>1993</b>  Central Bible College is incorporated as the Central Christian College</p>
                   <p><b>1997</b> Investiture of Rev. Dr. Mensa Otabil as Chancellor Central Business School is commissioned</p>
                   <p><b>1998</b> Central Bible College is re-christened Central University College to reflect its new status as a liberal arts tertiary institution <br> Mr. Johnson Kanda is inducted as the first Registrar <br>Rev. Prof. Kingsley Larbi is appointed as the first Principal</p>
                   <p><b>2002</b>  The Business Development Centre opens for business</p>
                   <p><b>2003</b> Development Directorate is carved from the pre-existing Project Office</p>
                   <p><b>2004</b>  Prof. V.P. Y. Gadzekpo takes office as the second President</p>
                   <p><b>2006</b> Faculty of Arts & Social Sciences is established</p>
                   <p><b>2007</b> Quality Assurance Unit is launched <br>Vision & Legacy Unit is established</p>
                   <p><b>2008</b> School of Applied Sciences is commissioned and its flagship programme in Physician Assistantship Studies also started with the mandate to extend curative, emergency and preventive health care services to especially the rural and underserved areas of the country. Prior to the programme's inception at CU, it was run only as a certificate or diploma course providing training solely for the Ministry of Health in a Rural Health Training Institute.</p>
                   <p><b>2009</b> Mr. J. F. Odartey Blankson is appointed as the University’s second Registrar <br>Human Resources Directorate is created. <br>Centre for International Relations & Programmes is inaugurated</p>
                   <p><b>2011</b> School of Graduate Studies is established <br>William Ofori-Atta Institute of Integrity [WOAII] is instituted <br>The historic migration of the University from Mataheko to Miotso begins 2012</p>
                   <p><b>2012</b> Prof. Kwesi Yankah is appointed as the third President of the University</p>
                   <p><b>2013</b> Faculty of Law is inaugurated <br>Three lecture-series: Distinguished Speaker Series, Professorial Inaugural Lectures and Annual Colloquia are instituted. <br>CU’s Schools and Faculties commence the first Annual Colloquia Series <br>Prof. Adigun Agbaje begins the Distinguished Speaker Series with the topic “Electoral Politics and the Travails of Democracy” in Africa.</p>
                   <p><b>2014</b> The second and third lectures of the Distinguished Speakers Series are delivered by Dr. Mahamudu Bawumia and Prof.Kwesi Botchwey on the respective topics: “Restoring the Value of the Cedi” and “The State of the Nation’s Political Economy”. <br>The first Professorial Inaugural Lecture is given by Prof. Kwaku Appiah-Adu on the topic “A Framework for Oil & Gas Development in Ghana”. <br>The University receives the Socrates Award [Oxford] for Best University & Best Manager</p>
                   <p><b>2015</b> The Head of State Awards for Academic Excellence [Tertiary] is conferred on the University</p>
                   <p><b>2016</b> The University is awarded a Presidential Charter as a fully-fledged University <br>The Vice-Chancellor of the University, Prof. Kwesi Yankah is awarded Laureate for Education in Ghana by Impact Africa Summit.</p>
                   <p><b>2017</b> Prof Bill Buenar Puplampu is appointed Ag. Vice Chancellor <br>School of Pharmacy is established.</p>
                   <p><b>2021</b> The University awarded its first honorary Doctoral degrees (Honoris Causa) to three former members of the University Council</p>
                   
                </div>

              </div>


              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <div style="padding-bottom: 5vh;">
                  <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">UNIVERSITY COUNCIL</h5>
                  <br>
                  <p>The Council is the University's supreme governing body.It is responsible for the academic policy and strategic direction of the University.</p>
                  <p>Central University is proud to have the following distinguished personalities on the University Council:</p>

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mrs. Florence Hutchful</th>
                        <td>Chairman</td>  
                      </tr>
                      <tr>
                        <th scope="row">Prof. Bill Buenar Puplampu</th>
                        <td>Vice-Chancellor</td>  
                      </tr>
                      <tr>
                        <th scope="row">Prof John Ofosu-Anim</th>
                        <td colspan="2">Pro Vice-Chancellor</td>
                      </tr>
                      <tr>
                        <th scope="row">Justice (Mrs.) Gertrude Torkornoo</th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row"> Rev. Samuel Awuku-Gyekye</th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row">Rev. Christopher Yaw Annor</th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row">Rev. Michael Asiedu-Antwi</th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row">Mr. Isaac Kodom</th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row">Mr. Selorm Bright Addy</th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row">Rev. Ransford Obeng</th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row">Mrs Dede Kafui  Odamtten  </th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row">Prof. Adeliade Kastner</th>
                        <td colspan="2">Member</td>
                      </tr>
                      <tr>
                        <th scope="row">Mr. Emil Afenyo</th>
                        <td colspan="2">Registrar/Secretary </td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <h6><b>For inquiries please contact:</b>
                    <br>
                    Email:  <a href="mailto:eafenyo@central.edu.gh">eafenyo@central.edu.gh</a>
                  </h6>

                </div>
              </div>


              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                <div style="padding-bottom: 5vh;">
                  <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">THE VICE-CHANCELLOR</h5>
                  <img src="../static/img/pups.jpg" alt="" width="65%">
                  <div style="padding-top: 14px;">
                      <h6 style="font-weight: 700; font-family: open sans serif;">Professor Bill Buenar Puplampu, C.Psychol, FGA <br><br> Vice Chancellor and Professor of Organisational Behaviour</h6>

                      <p>
                        A special warm welcome to you as you explore our website and all the information available about Central University (CU).
                      </p>
                      <p>
                        Established as an educational initiative of the International Central Gospel Church in 1988, Central University started out as a Pastoral Training Institute. In 1993 it became the Central Christian College. It received Institutional Accreditation to offer tertiary programmes in 1998; at which point it became Central University College with affiliation to the University of Cape Coast. It gained Presidential Charter and became an independent University in 2016 and was renamed Central University.
                      </p>
                      <p>
                        We are one of the leading Christian Universities in Ghana and firmly believe that our faith in God and the Holy Scriptures positions us to deliver on our mandate to train leaders who will be ethical, transformative, professional and able in their chosen fields of endeavour.
                      </p>
                      <p>
                        Since our first Congregation of 2002, we have graduated over 20,000 students. These have obtained qualifications in Business, Theology, Humanities and the Sciences. We have 22 undergraduate programme specialisations and 8 postgraduate programmes, with instruction taking place on three campuses: Miotso, Accra and Kumasi. Instruction is delivered in weekend, day and evening modes.
                      </p>
                      <p>
                        Over the years, Central University has been a trail blazer in many areas within the private Higher Education arena in Ghana. We ‘democratized’ HE by setting up the worker-friendly Mataheko programme. With instruction in the evenings and weekends, we helped many people obtain degrees and paved the way for several other private operators to enter the market. In 2007 we opened what us perhaps the largest integrated campus of a private University in Ghana when we moved to the Miotso Campus on the Tema-Aflao Road. From 2007 to 2010 we launched a series of science programmes: Nursing, Physician Assistantship and Civil Engineering; and became the only other University in Ghana offering Architecture. With 189 faculty, we have over the years spent considerable sums of money supporting faculty to obtain much needed PhD qualifications. This has yielded fruit and we now have nearly 40% holding terminal degrees.
                      </p>
                      <p>
                        Our programmes are domiciled in our Faculty of Arts & Social Sciences; Central Business School; Faculty of Law, School of Pharmacy, School of Medicine & Health Sciences; School of Engineering & Technology and School of Architecture & Design. We have faculty who are research active and advocacy driven. Our administrators are keen to serve.
                      </p>
                      <p>
                        Central University operates in the fecund but challenged Ghanaian and larger African context. Ours is a land and continent of much opportunity and potential but constrained by behavioural, governance and limitations of political and institutional leadership. We believe therefore that our mandate is to operationalize our Christian faith and energise our students to think and engage with the realities of our context. We believe our mandate is to charge our faculty and staff to drive our students to be community conscious, faith driven and become God-inspired game-changers for humanity. We are confident that wherever our graduates find themselves: in government, business, ministry, community, medicine, science, the law, general administration…they will deploy behaviours and solutions that will benefit society.  We believe our mandate is to produce professionals and managers who grow to understand that we all have a ‘charge to keep and a God to glorify’. 
                      </p>
                      <p>
                        We welcome to you to peruse these pages. If you are a potential student, go beyond the review of our website and get in touch with the Dean of the Faculty/School where the programme you are interested in resides. If you are a potential employee, do take the next step and remember we have a calling to fulfil and ours is not only about the pecuniary benefits of work but the potential impacts and lives we may transform. If you are a potential partner or collaborator, our doors are open to credible prospects.
                      </p>
                      <p>
                        We are very much a work in progress, but committed to the highest ideals of faith, integrity and excellence as we engage the business of teaching, research and preparing young minds and hearts for a God-ordained and potentialized future.
                      </p>
                  </div>
                </div>

              </div>


              <div class="tab-pane fade" id="pills-entry" role="tabpanel" aria-labelledby="pills-entry-tab" tabindex="0">
                <div style="padding-bottom: 5vh;">
                    <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">THE PRO VICE-CHANCELLOR (ACADEMIC)</h5>
                    <img src="../static/img/pro.jpg" alt="" width="65%">
                    
                    
                    <h6 style="font-weight: 700; font-family: open sans serif; padding-top: 14px;">Professor John Ofosu-Anim</h6>
                    <p>
                        Professor John Ofosu-Anim was appointed as the Pro Vice-Chancellor (Academic) of Central University on 1st February 2018. He obtained his MSc in Agriculture and PhD in Agronomy from Kagawa University and Nagoya University of Japan, respectively. He is a scientist with considerable international experience and outstanding administrative skills. Since 1996, he has risen from the rank of Lecturer to a Full Professor through quality teaching, research extension and internationally acclaimed scholarship. Professor Ofosu-Anim has taught a range of courses and trained several undergraduate and post graduate students.
                    </p>
                    <p>
                        He is the Dean of the School of Architecture and Science of Central University until his appointment as the Pro Vice-Chancellor (Academic).  Prior to his employment by Central University, Professor Ofosu-Anim was the Dean, School of Agriculture, University of Ghana and also held a number of administrative positions including serving several times as Acting Provost, College of Basic and Applied Sciences, Head, Department of Crop Science and Vice-Dean of the School of Agriculture.
                    </p>
                    <p>
                        Professor Ofosu-Anim served on all the relevant committees at University of Ghana including: the Business and Executive Committee, Collegiate Restructuring Committee, Academic Board, Board of Graduate Studies, Tender Board, Procurement Board, GUSS management Board, Security Committee, Academic Curriculum Quality and Staff Development Committee, University Examinations Superintending Committee, Board of College of Agriculture and Consumer Sciences, Board of School of Agriculture, Chairman of Inter-Faculty Appointment Review Committee ( IFARC). He served as Secretary & President of UTAG, Mensah Sarbah Hall Tutor and represented academic staff on the University of Ghana Council.
                    </p>
                    <p>
                        Professor Ofosu-Anim has attracted funds for research and facilitated the establishment of links some of which opened opportunities for PhD placement for University of Ghana students in world-class universities.  He has also served as a Guest Associate Professor of the Tokyo University of Agriculture and Technology.
                    </p>
                    <p>
                        He has tenacity of purpose and is passionate about being successful in his endeavours.
                    </p>                    
                  
                </div>
               </div> 


              <div class="tab-pane fade" id="pills-newly" role="tabpanel" aria-labelledby="pills-newly-tab" tabindex="0">
                <div style="padding-bottom: 5vh;">
                    <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">OFFICE OF THE REGISTRAR</h5>
                    <img src="../static/img/regis.jpg" alt="" width="65%">

                    <h6 style="font-weight: 700; font-family: open sans serif; padding-top: 14px;">Mr. Emil Mawuli Kofi Afenyo</h6>
                    <p>
                        Mr. Emil Mawuli Kofi Afenyo assumed office as the Registrar of Central University on 1st  July 2016. He is a Development Consultant, Communication Specialist and Academic Administrator with two decades of experience.
                    </p>
                    <p>
                        Mr Afenyo was born on May 19, 1972. He joined Bishop Herman College in Kpando between 1984 and 1989 for his GCE “O” Level and Mawuli Secondary School in Ho for his GCE “A” Level in 1991 from where he proceeded to the University of Ghana graduating in Geography and French in 1997. Between 1994/95, whiles still an undergrad, he went on a year abroad French Language exchange program at the Universite De Ouagadougou in Burkina Faso.Mr. Afenyo enrolled at the then School of Communication Studies of the University of Ghana for a Postgraduate Diploma in Communication Studies specialising in Advertising and Public Relations. Upon completion in 1999, Emil was admitted to the Master of Science degree program in Development Management at the London School of Economics in the United Kingdom.
                    </p>
                    <p>
                        Mr. Afenyo joined Central University in September 2000. Positions he has held in the University include Executive Assistant, Assistant Registrar, Coordinator of Research, Policy and Planning, and Director of Academic and Student Services. He has been a member of various boards and committees bringing to bear his in-depth knowledge and appreciation of good corporate governance. He is Secretary to the Council of the University and its Executive, Finance, Tender, Procurement and Planning Committees. He also serves as Secretary to the Academic Board and its committees, and as Chairman of the Board of Trustees of the CU Provident Fund.
                    </p>
                    <p>
                        His vision is to see Central University become the finest private higher education institution in Africa, a University driven by high technology and supported by a professional and dedicated administrative cadre. He plans to help build a God-fearing, innovative and entrepreneurial Registry which is positioned as a key partner and strategic advisor in educational administration, planning and policy formulation.
                    </p>
                    
                    <h6 style="font-weight: 700; font-family: open sans serif; padding-top: 14px;">COLLEGES AND UNIVERSITIES ATTENDED</h6>
                    <ol>
                        <li>London School of Economics, London, United Kingdom (1999-2000)</li>
                        <li>School of Communication Studies, University of Ghana, Legon, Ghana (1998-1999)</li>
                        <li>Universite De Ouagadougou, Ouagadougou, Burkina Faso, French language programme, (1994-1995)</li>
                        <li>University of Ghana, Legon, Accra, Ghana (1992-1997)</li>
                        <li>Mawuli Secondary School, Ho, Ghana (1989-1991)</li>
                        <li>Bishop Herman College, Kpando, Ghana (1984-1989)</li>
                    </ol>

                </div>
              </div>


              <div class="tab-pane fade" id="pills-forms" role="tabpanel" aria-labelledby="pills-forms-tab" tabindex="0">
                <div style="padding-bottom: 5vh;">
                  <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">JOB VACANCIES</h5>
                  <br>
                  <a href="https://www.central.edu.gh/directory/gallery/downloads/downloadable%20forms/employment%20form%20-%20Admin%20Staff.pdf">EMPLOYMENT APPLICATION FORM-ADMINISTRATIVE  </a>

                  <a href="https://www.central.edu.gh/directory/gallery/downloads/downloadable%20forms/employment%20form2%20-%20faculty.pdf">EMPLOYMENT APPLICATION FORM-FACULTY</a>
                  <br>
                    <p><b>JOB VACANCY ADVERTISEMENTS</b> 
                        <ol>
                            <li>
                                <a href="https://www.central.edu.gh/directory/gallery/downloads/Job%20adverts/IMG_9331.jpeg">FUNDRAISING AND PARTNERSHIP ENGAGEMENT OFFICER</a>
                            </li>
                            <li>
                                <a href="https://www.central.edu.gh/directory/gallery/downloads/Job%20adverts/Advert%20-%20BUDGET%20OFFICER.pdf">BUDGET OFFICER</a>
                            </li>
                        </ol>
                    </p>    
                </div>  
              </div>
              

              <div class="tab-pane fade" id="pills-life" role="tabpanel" aria-labelledby="pills-life-tab" tabindex="0">
                <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">VISION, MISSION & CORE VALUES</h5>
                <br>
                <h2 style="font-weight: 700; font-family: open sans serif;">Our Vision</h2>
                <p>Raising virtuous and transformational leaders for our world</p>
                <br>
                <h2 style="font-weight: 700; font-family: open sans serif;">Our Mission</h2>
                <p>Commitment to nurturing a vibrant academic community conducive for the study, creation and dissemination of knowledge through research, training and service.</p>
                <br>
                <h2 style="font-weight: 700; font-family: open sans serif;">Core Values</h2>
                <p>Central University is guided by three tenets that form the basis of our activities: <b>Faith</b>, <b>Integrity</b> and <b>Excellence</b>.</p>
                <br>
                <p><b>Faith</b> we have faith in the one and Living God, His Son Jesus Christ and the Holy Spirit, and in the belief that knowledge without God is incomplete.</p>
                <p><b>Integrity</b>evidenced by high ethical standards including accuracy, honesty, co-operation, tolerance, and acceptance of obligations as well as rights, accountability to students, the University Community, the public and government and the International Central Gospel Church.</p>
                <p><b>Excellence</b>in all aspects of its activities, encouragement of intellectual openness to the examination of ideas and evidence and the questioning of accepted wisdom.</p>


                <h5 style="font-weight: 700; font-family: open sans serif;">With these guiding principles, we affirm our commitment to:</h5>
                <ol>
                    <li>Unambiguous Christian affirmation and devotion</li>
                    <li>Continued and independent learning, intellectual development, critical analysis and creativity within appropriate ethical and moral standards</li>
                    <li>Provision of a learning environment that encourages symbiotic relationships between staff and students</li>
                    <li>Producing transformational leaders who are able to seek improved solutions problems and impact positively on social and cultural change</li>
                    <li>Being at the cutting edge of modern business management techniques and practices</li>
                    <li>Identification of talented people, appointing and retaining them and empowering them to realize their dreams</li>
                    <li>Appreciation and valuing of cultural and intellectual diversity and ability to function in a multi-cultural environment</li>
                    <li>According primacy and importance to students.</li>
                </ol>


              </div>


              <div class="tab-pane fade" id="pills-cont" role="tabpanel" aria-labelledby="pills-cont-tab" tabindex="0">
                <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">CONTACT US</h5>
                <br>
                <h2 style="font-weight: 700; font-family: open sans serif;">Miotso Campus</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d508107.5734753716!2d0.083408!3d5.771918!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10207feebd000067%3A0xfc47a69750d84db8!2sCentral%20university!5e0!3m2!1sen!2sus!4v1682869460962!5m2!1sen!2sus" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                <p>The Miotso Campus is nestled on the N1 Highway near Dawhenya. The 248-acre campus is a biodiversity hotspot with unique aquatic flora and fauna life. Miotso is beautifully landscaped and provides a pleasant environment for academic and spiritual pursuits.</p>
                <p>It houses the University’s administrative offices, lecture theatres, Johnson Kanda and VPY Gadzekpo Buildings, Trinity Hall, University Library, Central Students Plaza, Hostels and other academic and residential complexes.</p>
                <p>Miotso campus is in the midst of a major expansion project that will see the commissioning of five state-of-the-art academic and multi-purpose facilities when completed.</p>
                <p> Central University, Miotso near Dawhenya. Off the Accra - Aflao Road.|  P O Box 2305 Tema or P.O BOX DS 2310 Dansoman ,Accra- Ghana -West Africa  |  <b>Admissions</b>: +233 0307020540 | +233 0303 318583  <b>Main</b>: +233 0303 318580 | 030 7020545 (Miotso) | +233 0302 313185 (Mataheko) <b>Whatsapp</b> 023 331 3180</p>

                <br><br>
                <h2 style="font-weight: 700; font-family: open sans serif;">Christ Temple Campus</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15884.339098138731!2d-0.23019900000000001!3d5.554451!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf97516d397f15%3A0xfab788391204b3b9!2sChrist%20Temple%2C%20International%20Central%20Gospel%20Church!5e0!3m2!1sen!2sus!4v1682869741749!5m2!1sen!2sus" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                <p>Central University’s Christ Temple campus is located at 69 Ring Road West, just 4 kilometres from the Accra City Centre.</p>
                <p>The University shares this landmark facility with its proprietors, the International Central Gospel Church. The presence of the campus has helped to create a learning culture of intellectual stimulation and spiritual enquiry. Focusing on senior managers and executives, the Christ Temple campus offers mainly graduate programmes in Finance, Management, Accounting, Human Resource Management, and Marketing Research. With the recent movement of the university from its Mataheko campus to Christ Temple, almost all programmes of the university run on this campus.</p>
                <p>Major administrative, commercial and financial hubs within Accra’s Central Business District are within ten to fifteen minutes’ drive from Christ Temple.</p>
                <br><br>

                <h2 style="font-weight: 700; font-family: open sans serif;">Kumasi Campus</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15850.404098105408!2d-1.568825!3d6.696236!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb9451d2f12287%3A0x643f3bf6065bfdb4!2sCentral%20University%20(Kumasi%20Campus)!5e0!3m2!1sen!2sus!4v1682869871312!5m2!1sen!2sus" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>The Kumasi Campus is located at Ayigya at the Calvary Charismatic Centre, 10 kilometres South of Central Kumasi in the Ashanti Region. Conveniently located on the main N6 Highway that connects Accra and Kumasi; Ayigya is a small university town within a walking distance to Kwame Nkrumah University of Science and Technology [KNUST].</p>
                <p>It has dozens of hostels, shops and eateries that serve the student community. The Kumasi Campus provides students with a serene atmosphere that facilitates studying.</p>
                <p>It commenced operations in September 2016.</p>
                <p><b>Telephone: (+233) 032 239 6189</b></p>

              </div>
            </div>    
          </div>

          <div class="col-md-4 order-1 order-lg-2">
            <ul class="nav nav-pills mb-3 list-group list-group-flush" id="pills-tab" role="tablist">
                <li class="nav-item list-group-item" role="presentation">
                  <button class="nav-link active side-nav" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">About CU</button>
                </li>
                <li class="nav-item list-group-item side" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">University Council</button>
                </li>
                <li class="nav-item list-group-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">The Vice-Chancellor </button>
                </li>
                <li class="nav-item list-group-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-entry" type="button" role="tab" aria-controls="pills-entry" aria-selected="false">The Pro Vice Chancellor (Academic)</button>
                </li>
                <li class="nav-item list-group-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-newly" type="button" role="tab" aria-controls="pills-newly" aria-selected="false">Office Of The Registrar</button>
                </li>
                <li class="nav-item list-group-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-forms" type="button" role="tab" aria-controls="pills-forms" aria-selected="false">Job Vacancies</button>
                </li>
                <li class="nav-item list-group-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-life" type="button" role="tab" aria-controls="pills-life" aria-selected="false">Vision, Mission & Core Values</button>
                </li>
                <li class="nav-item list-group-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-cont" type="button" role="tab" aria-controls="pills-cont" aria-selected="false">Contact Us</button>
                </li>
              </ul>
          </div>
          
            
        </div>
    </div>
</section>
{% endblock %}