{% extends "layout.html" %}
{% block body %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-left">
          <h6>Central University </h6>
          <h1 style="margin: 10px 0;">Becoming a student at CU</h1>
          <h5>The admission process at any school can be a daunting process. The Admission Team at CU prides itself on doing everything possible to ensure a smooth and seamless experience for every family. </h5>
          <br/>
          <div class="row" style="padding: 5px;">
            <a href="#about" class="pill-button" style="margin-right: 10px; margin-bottom:10px">Learn More</a>
            <!-- <a href="#about" class="pill-button-alternate">Guidance And Counselling</a> -->
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 text-center">
          <img src="./static/img/add.png" alt="" srcset="">
        </div>
      </div>
      <div class="text-center">
      </div>

      
    </div>
</section><!-- End Hero -->

<section style="height: 90%; padding-bottom: 0;" style="background: #f2f2f2;">
    <div class="container">
       
        <div class="row content" data-aos="fade-left" data-aos-delay="50">
            <div class="col-md-6 content" style="padding-left: 5vw;">
                <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                    <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ca181e;"></div>
                    <div style="color: #333; font-size: 23px;">Applying to Central University</div>
                </div>
               
              <br>
              <ol style="list-style-type: none;">
                <a href="{{url_for('online')}}" style="font-size: 20px;"><li>Online Application Portal</li></a>
                <a href="{{url_for('admission')}}" style="font-size: 20px;"><li>Schedule Of Fees</li></a>
                <a href="{{url_for('admission')}}" style="font-size: 20px;"><li>Entry Requirements</li></a>
                <a href="{{url_for('admission')}}" style="font-size: 20px;"><li>Financial Info And Scholarship</li></a>
                <a href="{{url_for('admission')}}" style="font-size: 20px;"><li>Campus Life</li></a>

                
              </ol>
              
              <!-- <div class="pill-button" style="width: fit-content; margin-bottom: 2vh;">Learn More !</div> -->
            </div>
            <div class="col-md-6">
              <div class="imgContainer">
                <img src="{{url_for ("static", filename="img/add2.jpg")}}" alt="" srcset="" style="object-fit: cover; width:100%; height:auto"> 
              </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}