{% extends "layout.html" %}

{% block body %}

    <section class="hero9">
      <img src="../static/img/lib.jpg" class="hero9-image" alt="">
    </section>

    <section>
        <div class="container">
            <div class="row">
              <div class="col-md-8 order-1 order-lg-1" style="padding: 0 0 7px 7px;">
                <div class="tab-content" id="pills-tabContent" style="padding: 0 7px;">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

                    <h5  style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">How to Apply</h5>
                    <div style="padding-bottom: 5vh;">
                      <h2 style="font-weight: 700; font-family: open sans serif;">Online Application</h2>
                      <h6>Applicants may also apply online by clicking <a href="/online">http://online.central.edu.gh</a>  to buy an E-voucher for GH100.00 (for Ghanaian applicants) or the cedi equivalent of US 100.00 (for foreign applicants) at Ecobank branches. <b style="color: #ca1e18;">Kindly note that all fields on the form must be completed otherwise it cannot be submitted</b>. Use the PIN and SERIAL NUMBER on the E-voucher to apply online at apply.central.edu.gh. VISA branded cards and MTN Mobile Money can also be used to purchase E-vouchers online.</h6>
                    </div>

                    <div style="padding-bottom: 5vh;">
                      <h2 style="font-weight: 700; font-family: open sans serif;">Paper Application</h2>
                      <ol>
                        <li>Paper Application forms can be obtained for GHC100.00 (Undergraduate) and GHC120 (Graduate) for Ghanaian applicants and the cedi equivalent of USD 100.00 (Undergraduate and Graduate) (for foreign applicants) through the following:</li>
                        <li>By Banker's Draft (in favour of Central University) from the Finance Office at the Mataheko and  Kumasi campuses of the university, or from the permanent campus at Miotso, off the Accra-Aflao Road.</li>
                        <li>Ecobank, Zenith Bank and GCB Bank branches nationwide and from the 170 Ghana post office branches across the country.</li>
                        <li>Undergraduate application forms may also be downloaded  HERE and completed. Applicants would have to pay GHC 100 for Ghanaian (undergraduate) and GHC120 (Graduate) (for Ghanaian applicants) or cedi equivalent of USD100 for foreign applicants, paid at the time of submission. <a href="" style="color: blue; text-decoration: none;">Graduate application form can be downloaded here</a>. ATHE DIPLOMA application forms may be downloaded <a href="" style="color: blue; text-decoration: none;">HERE.</a></li>
                      </ol>
                      <h6 style="font-weight: 700; font-family: open sans serif;">An applicant must submit the following at the time of application directly to the University:</h6>
                      <ol>
                        <li>A completed Application Form</li>
                        <li>An official Results Slip/Certificate</li>
                        <li>Transcripts from previous Universities (where applicable). Such transcripts should be sent directly to the Admissions Officer. It is the responsibility of the applicant to arrange for transcript(s) and /or transfer form to be mailed and to ensure that they arrive promptly. Hand delivered transcript(s) are not acceptable.</li>
                      </ol>
                      <h6 style="font-weight: 700; font-family: open sans serif;">The completed paper application documents along with photographs, transcripts and certificates/results slips must be submitted to:</h6>
                       <p><b>The Admissions Officer<br> Central University, Miotso Campus</b></p> 
                       <h6>For further clarifications kindly call our Admissions Hotline: +233 303 318583 or Email: <a href="mailto:enquiry.admissions@central.edu.gh">Click Here</a> </h6>
                    </div>

                    <div>
                      <h2 style="font-weight: 700; font-family: open sans serif;">ATHE Diploma Application</h2>
                      <p>Applicants may also apply online for the <b>ATHE Diploma</b> programmes by clicking <a href="">HERE</a>. </p>
                      <h6 style="font-weight: 700; font-family: open sans serif;">APPLICANTS WILL BE REQUIRED TO</h6>
                      <ol>
                        <li>Upload their 2 passport size photographs, certificates/ Results slips</li>
                        <li>All Online applicants are required to present original copies of their supporting documents to the Admissions office before semester registration will be allowed</li>
                        <li>Applicants are advised to check thoroughly all details entered before finally submitting their online applications.</li>
                        <li>A FORM ONCE SUBMITTED CAN ONLY BE VIEWED BUT CANNOT BE EDITED.</li>
                      </ol>
                    </div>
                  </div>


                  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                    <div style="padding-bottom: 5vh;">
                      <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">SCHEDULE OF FEES -2022/2023</h5>
                      <br>
                      <h2 style="font-weight: 700; font-family: open sans serif;">2022-2023 FEES</h2>
                      <p>Kindly click on the links below to view the fees.</p>

                      <ol>
                        <li><a href="https://www.central.edu.gh/directory/gallery/downloads/2022-2023%20updated%20fees/Level%20100%20Sciences.pdf">School Fees 2022- 2023-L100 Sciences (Freshmen)</a></li>
                        <li><a href="https://www.central.edu.gh/directory/gallery/downloads/2022-2023%20updated%20fees/Level%20100%20freshmen.pdf">School Fees 2022- 2023-L100 (Freshmen)</a></li>
                        <li><a href="https://www.central.edu.gh/directory/gallery/downloads/2022-2023%20updated%20fees/Level%20300%20Sciences.pdf">School Fees 2022- 2023-L300 Sciences</a></li>
                        <li><a href="https://www.central.edu.gh/directory/gallery/downloads/school%20fees/School%20Fees%202021%20-%202022%20(REVIEWED)_L100%20FRESHERS.pdf">Click here to view Fees For 2021-2022 (FRESHERS)-L100 CBS & Social Sciences</a></li>
                        <li><a href="https://www.central.edu.gh/directory/gallery/downloads/SCHOOL%20FEES/School%20Fees%20For%202021-2022%20Academic%20Year%20(%20Continuing%20Students)-L300%20400.pdf">School Fees For 2021-2022 Academic Year ( Continuing Students)-L300-400</a></li>
                      </ol>
                    </div>
                  </div>


                  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                    <div style="padding-bottom: 5vh;">
                      <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">Financial Information and Scholarship</h5>
                      <br>
                      <h6 style="font-weight: 700; font-family: open sans serif;">There are various categories of scholarship and financial aid opportunites available to assist you with your tuition here at Central University.</h6>
                      <ol>
                        <li>Download <a href="https://www.central.edu.gh/directory/gallery/downloads/downloadable%20forms/CU%20SCHOLARSHIP%20FORM%20FOR%20COMP%20SC%202023.pdf">SCHOLARSHIP FORM FOR BSC COMPUTER SCIENCE AND BSC IT FRESHMEN 2022-23</a></li>
                        <li>ICGC members as well as their dependants are eligible for discounts</li>
                        <li>CU Alumni are eligible for discount on their school fees</li>
                      </ol>
                      <img src="../static/img/schor.jpg" alt="" width="100%">
                    </div>

                  </div>


                  <div class="tab-pane fade" id="pills-entry" role="tabpanel" aria-labelledby="pills-entry-tab" tabindex="0">
                    <div style="padding-bottom: 5vh;">
                      <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">Entry Requirements</h5>
                      <br>
                      <p>
                        Academic entry requirements vary from programme to programme and are advertised on the University website and in other media. The University ensures that entry requirements conform to standards set by the National Accreditation Board and various regulatory and professional bodies. The University’s admission requirements are as follows:
                      </p>
                      <ol>
                        <li><b>West African Senior School Certificate Examination (WASSCE)</b> <br> An applicant must have credit passes (A1-C6) in core English, core Mathematics, and either core Integrated Science or Social Studies and three elective subjects, with an overall aggregate score of Thirty-six (36) or better. In addition, candidates must satisfy the specific requirements of the relevant Faculty/School. The entry is at Level 100.</li>
                        <li><b>Senior Secondary School Certificate Examination (SSSCE)</b><br>An applicant must have credit passes (A-D) in core English, core Mathematics and either core Science or Social Studies and three elective subjects, with an overall aggregate score of Twenty-four (24) or better. In addition, candidates must satisfy the specific requirements of the relevant faculty/school.  Entry is at Level 100.</li>
                        <li><b>General Certificate of Education (GCE) Ordinary and Advanced Levels.</b><br> An applicant must have at least credit passes in 5 subjects (including English Language and Mathematics at the GCE Ordinary Level and at least 3 passes at the GCE Advanced Level. One of the Advanced Level passes must be grade ‘D’ or better.  A pass in General Paper must also be obtained. Entry is at Level 100.</li>
                        <li><b>Professional qualifications/Tertiary Diplomas (Entry at levels 200 and 300)</b><br>The level of placement of professional certificate and tertiary level diploma holders will depend on the assessment of their certificates or diplomas in relation to the programme desired.  All professional certificate and tertiary level diploma holders must have either G.C.E. “O” Level credit passes in English Language and Mathematics or SSSCE/WASSCE credit passes in English Language and Core Mathematics to qualify for admission. The placement level of candidates will depend on assessment of their certificates by the relevant Faculty/School or Department.</li>
                        <li><b>Admission through Mature Students’ Entrance Examination</b><br>The candidate must be at least 25 years old by 31st December of the year preceding the examination.  A certified copy of birth certificate is required.  The date of issue of the birth certificate should not be less than five years from the date of the completion of the admission forms. The submission of fraudulent certificates is grounds for withdrawal at any point in a student’s enrolment. <br> Mature Students’ Entrance Examinations consist of a General Paper for all candidates and two papers in the area(s) of specialization desired. </li>
                        <li><b>Applicants with foreign certificates</b>Foreign applicants must have qualifications equivalent to the above to be considered for admission. Their results must also be translated into English and they should be able to read and write in English. Additionally, all foreign certificates validated by the National Accreditation Board. Applicants may also be required to pass an entrance examination/interview. <br> In addition to the general admission requirements, Schools, Faculties and Departments may have special entry requirements. The academic catalogues of the Schools and Faculties must be consulted for up-to-date information. </li>
                        <li><b>Entry requirements for Diploma programmes</b>To be admitted to a Diploma programme, a candidate must satisfy the following minimum requirements besides conditions stipulated for the particular programme: <br> <b>SSSCE Holders</b> Six (6) passes A-D in all subjects, including English and Mathematics. For areas of specialization, three (3) of the passes must be in relevant subjects <br><b>WASSCE holders</b> Six (6) passes (A1 – D7) in all subjects, three (3) of which should be credit passes (C6) or better. It must be noted that certain subjects may require credit passes in other relevant subjects.</li>
                        
                      </ol>
                      
                      <div>
                      <h5 style="font-weight: 700; font-family: open sans serif;">Other Entry Requirements</h5>
                      <h6 style="font-weight: 700; font-family: open sans serif;">Entry Requirements for School of Architecture and Science (SAS), School of Pharmacy (SoP), and School of Engineering and Technology (SET)</h6>
                        <h6>All WASSCE/SSSCE applicants must have done Integrated Science and relevant WASSCE/SSSCE Elective Subjects.</h6>
                        <h6>The following are the required electives for these programmes:</h6>
                        <br>
                        <p><b>Architecture</b>:  Any background </p>
                        <p><b>Physician Assistantship</b>:  Biology, Chemistry, Physics or Elective Mathematics  </p>
                        <p><b>Civil Engineering</b>: Elective Mathematics, Physics and Chemistry. </p>
                        <p><b>Computer Science</b>:   Elective Mathematics or Physics </p>
                        <p><b>Information Technology</b>:  Any background </p>
                        <p><b>Nursing</b>:  WASSCE from <b>Science option</b>
                          <ol>
                            <li>Mathematics (Elective)</li>
                            <li>Physics</li>
                            <li>Chemistry</li>
                            <li>Biology</li>
                          </ol>
                          <b>General Arts option</b>
                          <ol>
                            <li>Literature in English</li>
                            <li>French</li>
                            <li>Ghanaian Language</li>
                            <li>Christian Religious studies or Islamic Religion/studies</li>
                            <li>Mathematics (Elective)</li>
                            <li>Geography</li>
                            <li>History</li>
                            <li>Government</li>
                            <li>Mathematics (Elective)</li>
                            <li>General Knowledge in Art</li>
                          </ol>
                          <b>Home Economics option</b>
                          <ol>
                            <li>Management in Living</li>
                            <li>Food and Nutrition</li>
                            <li>Chemistry</li>
                            <li>Economics</li>
                            <li>French</li>
                            <li>General Knowledge in Art</li>
                          </ol>
                        </p>

                        <h5 style="font-weight: 700; font-family: open sans serif;">A combination of SSSCE and WASSCE results is not acceptable.</h5>
                      </div>

                    </div>
                  </div>


                  <div class="tab-pane fade" id="pills-newly" role="tabpanel" aria-labelledby="pills-newly-tab" tabindex="0">
                    <div style="padding-bottom: 5vh;">
                      <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">Entry Requirements</h5>
                      <br>
                      <a href="https://www.central.edu.gh/directory/gallery/downloads/downloadable%20forms/Admitted_Applicants_20190829%20(1).pdf">Click here View the list of freshmen for September 2019 (As at 29th August 2019)</a>
                    </div>
                  </div>


                  <div class="tab-pane fade" id="pills-forms" role="tabpanel" aria-labelledby="pills-forms-tab" tabindex="0">
                    <div style="padding-bottom: 5vh;">
                      <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">Admission Forms 2022/2023</h5>
                      <br>
                      <ol>
                        <li>
                          <p><b>GRADUATE APPLICATION FORM</b> 
                            <br>
                            Click <a href="https://www.central.edu.gh/directory/gallery/downloads/2022%2023%20updated%20forms/Graduate%20Studies%20form%20-%202022%20(1).pdf">HERE</a> to download the 2022/23 Graduate application form.  
                          </p>
                        </li>
                        <li>
                          <p><b>UNDERGRADUATE APPLICATION FORM</b> 
                            <br>
                            Click <a href="https://www.central.edu.gh/directory/gallery/downloads/2022%2023%20updated%20forms/CU%20Admissions%20Form%20-%202022%20(1).pdf">HERE</a> to download the 2022/23 Graduate application form.  
                          </p>
                        </li>
                        <li>
                          <p><b>ATHE DIPLOMA APPLICATION FORM</b> 
                            <br>
                            Click <a href="https://www.central.edu.gh/directory/gallery/downloads/2022%2023%20updated%20forms/ATHE%20form-%202022.pdf">HERE</a> to download the 2022/23 Graduate application form.  
                          </p>
                        </li>
                      </ol>
                    </div>  
                  </div>


                  <div class="tab-pane fade" id="pills-life" role="tabpanel" aria-labelledby="pills-life-tab" tabindex="0">
                    <h5 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">Campus Life</h5>
                    <br>
                    <h6><b>Accommodation</b> <br> Central University College is committed to maintaining a safe and comfortable housing environment that values friendship and academic success when it comes to accommodation. The various hostels are open to current and incoming Ghanaian and non-Ghanaian students.</h6>
                    <br>
                    <h6 style="font-weight: 600; border-left: 2px solid #ca1e18; padding-left: 7px;">ON-CAMPUS SERVICES</h6>
                    <br>
                    <h6><b>Banking</b> <br> On arrival, students are advised to put their money in the bank as it is not wise to carry lot of cash around. On our campuses, we have various Automated Teller Machines (ATM) available 24 hours a day. Ecobank, GTbank, Stanbic accept international transactions using a VISA/Debit/Credit card.</h6>
                    <br>
                    <h6><b>Internet Access</b> <br>Central University College operates with a Wireless system. Any student with a personal laptop can easily access the internet. For safety and security reasons, please be sure not to carry your laptop around campus at night. Students can also access the Internet at the Computer Lab. or the ICT-Directorate. There are also, a number of commercial cyber cafés located around our campuses.</h6>
                    <br>
                    <h6><b>Where to Eat</b> <br>Our campuses have restaurants where local and continental dishes are served. Students can have breakfast, lunch and dinner.</h6>


                  </div>


                </div>    
              </div>

              <div class="col-md-4 order-1 order-lg-2">
                <ul class="nav nav-pills mb-3 list-group list-group-flush" id="pills-tab" role="tablist">
                    <li class="nav-item list-group-item" role="presentation">
                      <button class="nav-link active side-nav" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">How to Apply</button>
                    </li>
                    <li class="nav-item list-group-item side" role="presentation">
                      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Schedule of Fees</button>
                    </li>
                    <li class="nav-item list-group-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Financial Info & Scholarship </button>
                    </li>
                    <li class="nav-item list-group-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-entry" type="button" role="tab" aria-controls="pills-entry" aria-selected="false">Entry Requirements</button>
                    </li>
                    <li class="nav-item list-group-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-newly" type="button" role="tab" aria-controls="pills-newly" aria-selected="false">Newly Admitted</button>
                    </li>
                    <li class="nav-item list-group-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-forms" type="button" role="tab" aria-controls="pills-forms" aria-selected="false">Admissions Forms 2023/2024</button>
                    </li>
                    <li class="nav-item list-group-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-life" type="button" role="tab" aria-controls="pills-life" aria-selected="false">Campus Life</button>
                    </li>
                  </ul>
              </div>
              
                
            </div>
        </div>
    </section>

{% endblock %}