{% extends "layout.html" %}

{% block body %}

    <section style="padding-top: 15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    
                </div>
                <div class="col-md-3">
                    <div style="display: flex;">
                        <div style="border-left: 3px solid red; height: 23px;"></div>
                        <h5 style="padding-left: 10px;">RELATED LINKS</h5>
                    </div>
                    <div>
                        
                        <ul>
                            <a href="">
                                <li style="border:1px solid #3a3737; list-style-type: none;">How to Apply</li>
                            </a>
                            <a href="">
                                <li style=" list-style-type: none;">How to Apply</li>
                            </a>
                            <a href="">
                                <li style=" list-style-type: none;">How to Apply</li>
                            </a> <a href="">
                                <li style=" list-style-type: none;">How to Apply</li>
                            </a> <a href="">
                                <li style=" list-style-type: none;">How to Apply</li>
                            </a>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>

{% endblock %}