{% extends "layout.html" %}
{% block body %}

<div class="container" style="margin-top: 1vh;">
    <div style="padding: 18px;">
        <form method="post">
            <div class="progress" style="height: 5px; margin-bottom: 3vh;">
                <div class="progress-bar bg-primary" role="progressbar" width="100" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            {{form.hidden_tag()}}

            <!-- <div class="ellipse">
                <img src="/static/img/testimonials/kweku.jpg" alt="" width="100" style="border-radius: 50%;">
            </div> -->

            
            <div class="form-floating mb-3">
                {{form.applicantanswer (class="form-control webForm", placeholder="Enter")}}
                {{form.applicantanswer.label}}
            </div>
            
            
            
            {{form.submit (class="pill-button", style="width:100%", onclick="") }}
           
        </form>

    </div>

</div>


{% endblock %}