{% extends "layout.html" %}

{% block body %}

        <div class="container" style="margin-top: 1vh;">
            <div style="padding: 15px;">
                <form action="">
                    {{form.hidden_tag()}}
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar bg-primary" role="progressbar" width="100" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>


                    <div class="ellipse" style="margin-top: 3vh;">
                        <img src="/static/img/testimonials/kweku.jpg" alt="" width="100" style="border-radius: 50%;">
                    </div>

                    <div class="form-floating mb-3">
                        {{form.prefix (class="form-control webForm", placeholder="Enter your name")}} 
                        {{form.prefix.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.surname (class="form-control webForm", placeholder="Enter your name")}} 
                        {{form.surname.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.othername (class="form-control webForm", placeholder="Enter your name")}} 
                        {{form.othername.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.nationality (class="form-control webForm", placeholder="Enter your name")}} 
                        {{form.nationality.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.mobile (class="form-control webForm", placeholder="Enter your name")}} 
                        {{form.mobile.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.email (class="form-control webForm", placeholder="Enter your name")}} 
                        {{form.email.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.sex (class="form-control webForm", placeholder="Enter your name")}}
                        {{form.sex.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.dateofbirth (class="form-control webForm", placeholder="Enter your name")}}
                        {{form.dateofbirth.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.campus (class="form-control webForm", placeholder="Enter your name")}}
                        {{form.campus.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.stream (class="form-control webForm", placeholder="Enter your name")}}
                        {{form.stream.label}}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.entrymode (class="form-control webForm", placeholder="Enter your name")}}
                        {{form.entrymode.label}}
                    </div>

                    {{form.submit (class="pill-button", style="width:100%", onclick="") }}
                
                </form>

{% endblock %}