{% extends "layout.html" %}

{% block body %}
     <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-5" >
        <div class="col-lg-6 order-1 order-lg-1 text-left">
          <h6>Central University </h6>
          <h3 style="margin: 20px 0; font-weight: bold;">COUNSELLING AND CAREER SERVICES CENTRE</h3>
          <!-- <h6>To be able to apply on this website, you need to by an e-voucher from <a href="tel:887*18#">*887*18#</a>. With your e-voucher ready, you can pick a course and apply </h6> -->
          <p class="text-muted" style="text-align: justify; font-size: 16px;">Central University has established the Counselling and Career Services  
            Centre with the mandate to promote a healthy campus environment and
            enhance student learning. The Centre is to help both students and staff to
            deal with psychosocial barriers to success and personal wellbeing and
            maintain balance for teaching, learning and life.</p>
          <br/>
          <div class="row">
            <div class="col-md-6" style="margin-bottom: 2vh;">
              <a href="#">
                <button id="myBtn" class="pill-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width: 100%;">Contact Us</button>
              </a>
            </div>
            <div class="col-md-6" style="margin-bottom: 2vh;">
              <a href="https://prestoghana.com/donate/CuCare">
                <button class="pill-button-alternate" style="width: 100%;"> Donate to CUcare</button>
              </a>
            </div>

          </div>
    
        </div>
       
        <div class="col-lg-6 order-2 order-lg-2">
            <img style="width:110%; object-fit:cover ;" src="{{ url_for ("static", filename="img/cuc2.jpg")}}" alt="" srcset="">
        </div>
      </div>
      
    </div>
  </section><!-- End Hero -->

  <section style="padding-top: 3vh;">
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="line" style="width: 30px; height: 3px; margin-right: 14px; background-color: #ff4a17;"></div>
        <h3 style="padding-top: 3px;" id="title"><b>{{cucaremenutitle}}</b></h3>
        <div class="line" style="width: 30px; height: 3px; margin-left: 14px; background-color: #ff4a17;"></div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row" style="align-items: stretch;">
  
          
          {% for article in CUCareMenu %}
          <div class="col-md-3"  style="margin-bottom: 20px;">
            <a href="/expand/{{article.id}}" style="text-decoration: none;">
              <div class="card"  style="flex-grow: 1;">
                <img class="card-img-top" src="{{article.image}}" width="100%" height="350px" style="object-fit: cover;" alt="Card image cap">                
                <div class="card-body">
                  <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>{{article.title}}</b></p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %} 
          <div class="col-md-3"  style="margin-bottom: 20px;">
            <a href="/cuposting" style="text-decoration: none;">
              <div class="card"  style="flex-grow: 1;">
                <img class="card-img-top" src="/static/img/career.jpg" width="100%" height="350px" style="object-fit: cover;" alt="Card image cap">                
                <div class="card-body">
                  <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>Career and Placement Services</b></p>
                </div>
              </div>
            </a>
          </div>
            
            <!-- <div id="demo"></div> -->
        </div>
    </div>
  </section>


  <section style="height: 90%; background: #f2f2f2;">
    <div class="container" style=" padding-top: 4vh;">
       
        <div class="row content" data-aos="fade-left" data-aos-delay="100">
            <div class="col-md-6 content">
                <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                    <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ca181e;"></div>
                    <div style="color: #333; font-size: 20px;">Our Statement</div>
                </div>
                <p style="font-size: 16px; margin-bottom: 3vh; color: #333; text-align: justify;"><b>Our Vision</b> is to be an effective Counselling and Career Services provider for staff and students of the Central University and its surrounding communities.</p>
                <p style="font-size: 16px; margin-bottom: 3vh; color: #333; text-align: justify;"><b>Our Mission</b> is to provide guidance, counselling and career services that enhance personal and professional development and employability nationally and globally. We support student recruitment, enrolment, retention, graduation and transition into the world of work by helping to deal with issues which affect student success and employability.</p>
              
              <br>
              <div class="pill-button" style="width: fit-content; margin-bottom: 2vh;">Learn More !</div>
            </div>
            <div class="col-md-6">
              <div class="imgContainer">
                <img src="{{url_for ("static", filename="img/cuc.jpg")}}" alt="" srcset="" style="object-fit: cover; width:100%; height:auto"> 
              </div>
            </div>
        </div>
    </div>
  </section>




  <section style="padding-top: 3vh;">
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="line" style="width: 30px; height: 3px; margin-right: 14px; background-color: #ff4a17;"></div>
        <h3 style="padding-top: 3px;" id="title"><b>{{cucarehelptitle}}</b></h3>
        <div class="line" style="width: 30px; height: 3px; margin-left: 14px; background-color: #ff4a17;"></div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row" style="align-items: stretch;">
  
          {% for article in CUCareHelp %}
  
            <div class="col-md-3"  style="margin-bottom: 20px;">
                <a href="/expand/{{article.id}}" style="text-decoration: none;">
                  <div class="card"  style="flex-grow: 1;">
                      <img class="card-img-top" src="{{article.image}}" width="100%" height="350px" style="object-fit: cover;" alt="Card image cap">                
                  <div class="card-body">
                      <!-- <div class="card-title" style="display: flex;">
                          <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: yellow; margin:5px 10px 0 0;"></div>
                          <h6 class="text-muted category"><b> {{article.id}}</b></h6>
                      </div> -->
                      <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>{{article.title}}</b></p>
                  </div>
                  <!-- <div class="card-footer">
                      <small class="text-muted">{{article.date}}</small>
                  </div> -->
                  </div>
                </a>
            </div>
          {% endfor %} 
            
            <div id="demo"></div>
        </div>
    </div>
  </section>


  <section style="padding-top: 3vh;">
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="line" style="width: 30px; height: 3px; margin-right: 14px; background-color: #ff4a17;"></div>
        <h3 style="padding-top: 3px;" id="title"><b>{{cucarestafftitle}}</b></h3>
        <div class="line" style="width: 30px; height: 3px; margin-left: 14px; background-color: #ff4a17;"></div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row" style="align-items: stretch;">
  
          {% for article in CUCareStaff %}
  
            <div class="col-md-4"  style="margin-bottom: 20px;">
                <a href="/expand/{{article.id}}" style="text-decoration: none;">
                  <div class="card"  style="flex-grow: 1;">
                      <img class="card-img-top" src="{{article.image}}" width="100%" height="350px" style="object-fit: cover;" alt="Card image cap">                
                  <div class="card-body">
                      <!-- <div class="card-title" style="display: flex;">
                          <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: yellow; margin:5px 10px 0 0;"></div>
                          <h6 class="text-muted category"><b> {{article.id}}</b></h6>
                      </div> -->
                      <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>{{article.title}}</b></p>
                  </div>
                  <!-- <div class="card-footer">
                      <small class="text-muted">{{article.date}}</small>
                  </div> -->
                  </div>
                </a>
            </div>
          {% endfor %} 
            
            <div id="demo"></div>
        </div>
    </div>
  </section>

  <!-- <section id="services" class="services section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="section-title">
        <h2>Ways to Help</h2>
        <p class="text-muted">Your support helps to educate leaders who make a difference in the world.</p>
      </div>

      <div class="row" style="margin-top: 2vh;">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch "  data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue" >
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
              </svg>
              <i class="bx bx-book"></i>
            </div>
            <h4><a href="">Alumni Engagement </a></h4>
            <p>Empowering individuals to pursue education and opportunities that can profoundly transform their future prospects and positively impact society.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
              </svg>
              <i class="bx bx-leaf"></i>
            </div>
            <h4><a href="">Sudent care and emergency resource funds </a></h4>
            <p>Providing resources, funding, and encouragement to advance scientific and academic investigations, ultimately promoting innovation and knowledge expansion</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
              </svg>
              <i class="bx bx-cog"></i>
            </div>
            <h4><a href="">Success Ambassadors</a></h4>
            <p>Providing targeted assistance or resources to address a particular areas, topic, or aspect of a broader context.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
              </svg>
              <i class="bx bx-layer"></i>
            </div>
            <h4><a href="">Leave A Gift In Your Will</a></h4>
            <p>Involves including specific assets or funds in your will to be passed on to designated individuals.</p>
          </div>
        </div>

      </div>

    </div>
  </section>End Sevices Section -->


  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div style="display: flex; align-items: center; margin-bottom: 1vh; justify-content: center;">
        <div class="line" style="width: 30px; height: 3px; margin-right: 14px; background-color: #ff4a17;"></div>
        <h3 style="padding-top: 3px;" id="title"><b>Gallery</b></h3>
        <div class="line" style="width: 30px; height: 3px; margin-left: 14px; background-color: #ff4a17;"></div>
      </div>
      <br>

      <div class="testimonials-slider swiper" data-aos="fade-up">
        <div class="swiper-wrapper">

          
          
          {% for image in cucareUpload %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                  <img src={{image}} style="object-fit: cover; width: 100%; height: 100%; object-fit: cover;" class="img-fluid" alt="">
              </div>
            </div>
          {% endfor %}


        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->



  <!-- ======= Testimonials Section =======
  <section id="testimonials" class="testimonials" style="padding: 10px;">
    <div class="container">

      <div class="section-title">
        <h2>Our Services</h2>
        <p class="text-muted">Our services include the following:</p>
      </div>
      <br>

      <div class="testimonials-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <!-- <div class="" data-aos="zoom-in" data-aos-delay="200"> -->
                <!-- <div class="card" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px; background-color:#fff; border-radius:20px; padding: 30px;"> -->
                  <!-- <div class="icon"><i class="ri-stack-line"></i></div> -->
                  <!-- <h3 style="font-size: 14px; color: #ca181e;">Psychosocial orientation for newly admitted students</h3> -->
                  <!-- <h6 class="description">"Gain hands-on experience and develop skills through our internship program."</h6> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div>End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="testimonial-item">
              <!-- <div class="" data-aos="zoom-in" data-aos-delay="200"> -->
                <!-- <div class="card" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px; background-color:#fff; border-radius:20px; padding: 30px;"> -->
                  <!-- <div class="icon"><i class="ri-stack-line"></i></div> -->
                  <!-- <h3 style="font-size: 14px; color: #ca181e;">Student Success Toolkit Series</h3> -->
                  <!-- <h6 class="description">"Gain hands-on experience and develop skills through our internship program."</h6> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div>
          </div>End testimonial item --> 

<!--           
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div> -->
  <!-- </section>End Testimonials Section -->



  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><b>Reach Counselling and Career Services at:</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>For: Counselling Services</h5>
        <h5><b>Email:</b><a href="mailto:counsellingservices@central.edu.gh">counsellingservices@central.edu.gh</a></h5>
        <h5><b>Telephone:</b><a href="tel:+233 208816822"></a> +233 598574577 </h5>
        <h5><b>Location:</b> Academic Block C Ground Floor C03/C05 </h5>

        <hr style="width: 100%; height: 2vh;">

        <h5>For: Career Services</h5>
        <h5><b>Email:</b><a href="mailto:careers@central.edu.gh"> careerservices@central.edu.gh</a></h5>
        <h5><b>Telephone:</b><a href="tel:+233 208816822"></a> +233 208816822 </h5>
        <h5><b>Location:</b> Academic Block C Ground Floor C03/C05 </h5>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background: #ca181e; border: none;" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
      </div>
    </div>
  </div>
</div>





<script>
  // Backend values passed to the frontend
  const allPages = '{{totalPages}}'/* value from the backend */;
  let currentPage = '{{page}}'/* value from the backend */;
  const itemsPerPage = '{{per_page}}'/* value from the backend */;

  totalPages = parseInt(allPages)
  currentPage = parseInt(currentPage)
  updatePaginationButtons()
  // console.log(currentPage)

  function updatePaginationButtons() {
      const prevButton = document.getElementById("prevButton");
      const nextButton = document.getElementById("nextButton");

      prevButton.disabled = currentPage === 1;
      nextButton.disabled = currentPage === totalPages;
  }

  function showPage(pageNumber) {
  //     // Replace this section with code to fetch items from the backend based on 'pageNumber' and 'itemsPerPage'
  //     // and update the 'items' container accordingly
  //     // Example:
  //     const itemsContainer = document.getElementById("items");
  //     itemsContainer.innerHTML = `<p>Page ${pageNumber}</p>`;

  //     currentPage = pageNumber;
  //     updatePaginationButtons();

  // this should update the page based on 
  console.log("Currently on page: " + pageNumber)

  }

  function previousPage() {
      nextPage = currentPage - 1
      console.log("CurrentPage: " + currentPage + "NextPage: " + nextPage)

      if (currentPage > 1) {
          window.location.href = "?page="+nextPage;
          // showPage(currentPage - 1);
      }
  }

  function nextPage() {
      nextPage = currentPage + 1
      console.log("CurrentPage: " + currentPage + "NextPage: " + nextPage)

      if (currentPage < totalPages) {
          window.location.href = "?page="+nextPage;
          // showPage(currentPage + 1);
      }
  }

  // Show the initial page
  showPage(currentPage);
</script>

<script>
  function getImageUrl(id) { 
      let file = "https://wptemp-807994.ingress-florina.ewp.live/?rest_route=/wp/v2/media/"+id
      fetch(file)
      .then(x => x.json())
      .then(y => updateHtml(y));
  }
      
  function updateHtml(data) {
      console.log(data)
      document.getElementById("demo").innerText = "data"
  }

</script>

<script>
  function createNewPost(title, content) {
    posts = document.getElementsByClassName("postsContainer")[0]
  
    const post = document.createElement("div");
  
    post.className = "col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0";
    post.innerHTML = `
          <a href="{{url_for("post")}}">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <h4 class="title"><a href="">${title}</a></h4>
              <p class="description">${content.substring(0,80)}...</p>
          </div>
          </a>
          `
  
    posts.append(post)
  
    return post
  
  }
  
  
  </script>


{% endblock %}