{% extends "layout.html" %}
{% block body %}

<section style="padding-top: 15vh;">
    <div class="container">
        <div style="display: flex; align-items: center; margin-bottom: 5vh; justify-content: center;">
            <div class="line" style="width: 50px; height: 3px; margin-right: 14px; background-color: #ff4a17;"></div>
            <h3 style="padding-top: 3px;"><b>News & Blog</b></h3>
            <div class="line" style="width: 50px; height: 3px; margin-left: 14px; background-color: #ff4a17;"></div>
        </div>

        <div class="row justify-content-center" id="content">
            <!-- {{ content }} -->
            <!-- <div style="margin: 2vh auto; width: 70%;">
                <img class="card-img-top" src="{{url_for('static', filename='img/blog1.jpg')}}" width="100%" alt="Card image cap"> 
                
                <div style="padding-top: 10px;">
                    <h2 class="card-text" style="font-size: 20px Butler; color: #111111;"><b>Higher education is part of the Agenda 2030 ecosystem.</b></h2>
                </div>


                <div class="card-title" style="display: flex; margin-top: 3vh;">
                    <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: yellow; margin:5px 10px 0 0;"></div>
                    <h6 class="text-muted category"><b> ALUMNI</b></h6>
                </div>

                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus aliquid reiciendis pariatur. Libero laborum molestias architecto provident voluptas modi molestiae autem, veritatis omnis reiciendis a placeat tempora ipsam vel iste! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit esse impedit dolor similique, debitis nulla reprehenderit tempora nostrum doloremque facere ipsa? Cum hic quos laborum soluta esse saepe mollitia magni! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto at nobis dolores enim sit molestiae eum, alias unde ea placeat in beatae voluptate tenetur voluptates asperiores ad repellendus consequatur odit!
                </h4>

                <div class="card-footer" style="margin-top: 5vh; display: flex;">
                    <p class="category">Author :</p>
                    <h6 class="text-muted" style="padding: 2px 0 0 6px;"><b>Mr.Softlife</b> - Jan 25, 2021</h6>
                </div>
            </div>
             -->
        </div>
    </div>
</section>

<script>

console.log("asd")
url = "{{url}}"
  fetch(url)
  .then(function(response) {
      return response.json();
    }).then(function(data) {
        console.log("data")
        
        document.getElementById("content").innerHTML = data.content.rendered
        console.log(data)

    // for (let index = 0; index <= data.length; index++) {
    //   console.log(data[index]); // this will be a string

      var title = data.title.rendered
      var post = data.content.rendered
     
      console.log(title)
      console.log(post)

      createNewPost(title, post)  
    // }
  })    // fetch directly 3108
</script>

{% endblock %}