<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0PK8SXFW8Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0PK8SXFW8Q');
</script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Central University</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    $('.carousel').carousel({
  interval: 2000
})
  </script>
  <!-- Favicons -->
  <!-- <link href="assets/img/fav.png" rel="icon"> -->
  <link href="{{url_for("static", filename="img/fav.png")}}" rel="icon">

  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link href="{{url_for("static", filename="img/fav.png")}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  <link href="{{url_for("static", filename="vendor/aos/aos.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/boxicons/css/boxicons.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/remixicon/remixicon.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet">
  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
  <link href="{{url_for("static", filename="css/style.css")}}" rel="stylesheet">


</head>

<body>
  <br/>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
  {% endwith %}

  <!-- ======= Header ======= -->
 <header id="header" class="sticky-top" style="background: #fff;">
  <div class="container-fluid d-flex align-items-center justify-content-between"> 

    {% if hideNav == True %}

    <a href="{{url_for('home')}}">
      <img class="" src="{{url_for("static",filename="img/Central-Uni-logo.png")}}" alt="" width="150">
    </a>
    
    {% else %}

      <!-- <img class="" src="assets/img/Central-Uni-logo.  png" alt="" width="150"> -->
    <a href="{{url_for('home')}}">
        <img class="" src="{{url_for("static",filename="img/Central-Uni-logo.png")}}" alt="" width="150">
      </a>
    {% endif %}

    <nav id="navbar" class="navbar navbar-light ">

      <ul>

        {% if hideNav != True %}
        <a class="nav-link scrollto" href="{{url_for('home')}}"><li>Home</li></a>
        <a class="nav-link scrollto" href="{{url_for('news')}}"><li>News</li></a>
        <a class="nav-link scrollto" href="{{url_for('about')}}"><li>About CU</li></a>

        <a href="#" class="nav-link scrollto"style="padding-left: 15px;">
          <li class="dropdown">Student Portals <i class="bi bi-chevron-down dropdown-indicator"></i>
            <ul>
              <a class="nav-link scrollto" href="https://vcampus.central.edu.gh"><li>VCAMPUS </li></a>
              <a class="nav-link scrollto" href="https://osissip.osis.online"><li>OSIS </li></a>
              <a class="nav-link scrollto" href="http://sfp.central.edu.gh"><li>Financial Planning </li></a>
              <a class="nav-link scrollto" href="https://eligibility.central.edu.gh/"><li>Eligibility </li></a>
            </ul>
          </li>
        </a>

        <a href="#" class="nav-link scrollto"style="padding-left: 15px;">
          <li class="dropdown">Schools <i class="bi bi-chevron-down dropdown-indicator"></i>
            <ul>
              <a class="nav-link scrollto" href="{{url_for('schools')}}"><li>Pharmacy </li></a>
              <a class="nav-link scrollto" href="{{url_for('schools')}}"><li>Law </li></a>
              <a class="nav-link scrollto" href="{{url_for('schools')}}"><li>Technology </li></a>
              <a class="nav-link scrollto" href="{{url_for('schools')}}"><li>Social Sciences </li></a>
              <a class="nav-link scrollto" href="{{url_for('schools')}}"><li>Architecture </li></a>
              <a class="nav-link scrollto" href="{{url_for('schools')}}"><li>Business </li></a>
              <a class="nav-link scrollto" href="{{url_for('schools')}}"><li>CODE </li></a>
            </ul>
          </li>
        </a>                                                                          


        <!-- <a class="nav-link scrollto" href="{{url_for('schools')}}" ><li>Schools </li></a> -->
        <a class="nav-link scrollto" href="{{url_for('alumni')}}"  ><li>Alumni </li></a>
        <a href="#" class="nav-link scrollto"style="padding-left: 15px;">
          <li class="dropdown">More <i class="bi bi-chevron-down dropdown-indicator"></i>
            <ul>
              <a class="nav-link scrollto" href="{{url_for('international')}}"><li>Programmes </li></a>
              <a class="nav-link scrollto" href="{{url_for('cu')}}" ><li>Guidance & Counselling </li></a>
              <a class="nav-link scrollto" href="{{url_for('library')}}"><li>Library </li></a>
              <a class="nav-link scrollto" href="{{url_for('admissions')}}"><li>Admissions</li></a>
              <a class="nav-link scrollto" href="{{url_for('chaplaincy')}}"><li>Chaplaincy </li></a>
              <a class="nav-link scrollto" href="{{url_for('research')}}"><li>Research </li></a>
              <a class="nav-link scrollto" href="{{url_for('corporate')}}"><li>Corporate </li></a>
            </ul>
          </li>
        </a>
        <!-- <a class="nav-link scrollto" href="{{url_for('cu')}}" ><li>Guidance & Counselling </li></a>
        <a class="nav-link scrollto" href="{{url_for('library')}}"><li>Library </li></a> -->
        <!-- <li><a class="nav-link scrollto text-muted" href="{{url_for("home")}}" disabled>Gallery </a></li> -->
        {% endif %}
        

        
        <a href="{{url_for('online')}}" target="_blank">
          <button class="pill-button" style="padding: 10px 14px; margin-left: 10px; font-size: 16px;">
            Apply Now!
          </button>
        </a>
        
      </ul>
      
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    
  </div>
 </header>

<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash flash-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>
<br/>
{% block body %}

{% endblock %}
 
<a href="https://api.whatsapp.com/send?phone=0233313180" target="_blank" class="whatsapp-icon">
  <img src="{{url_for("static", filename="img/whatsappIcon.png")}}" alt="WhatsApp Icon">
</a>


<!-- ======= Footer ======= -->
<footer id="footer" style="margin-top: 3vh;">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 footer-contact">
          <img class="" src="{{url_for('static',filename="img/Central-Uni-logo.png")}}" alt="" width="150"> 
          <p>
            Miotso near Dawhenya <br>
            Accra -Aflao<br>
            P.O Box 2305 Tema or P.O. Box DS 2310 Dansoman,<br> Accra- Ghana -West Africa <br><br>
            <strong>Main Phone(Miotso):</strong> +233 0303 318580 <br>
            <strong>Admission</strong> +233  0307 020540 <br>
              
              <strong>Kumasi Campus</strong> +233 0302 396189 <br>
             <strong>Christ Temple </strong> +233 0302 313185 <br>
             <strong>Whatsapp</strong> +233 023 331 3180 <br>
            <strong>Email:</strong> verification@central.edu.gh <br>
            <strong>Email:</strong> academicdirector@central.edu.gh <br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Faculties</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schools')}}">School Of Pharmacy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schools')}}">Faculty Of Law</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schools')}}">School of Applied Science</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schools')}}">Central Business School</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schools')}}">Arts and Social Sciences</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schools')}}">School of Health and Medicine </a></li>
          </ul>
        </div>
        
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('home')}}">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('about')}}">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('admissions')}}">Admissions</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('online')}}">Apply Now</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
          </ul>
        </div>

        

        <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div> -->

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Central University</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
        Powered by <a href="https://prestoghana.com/">PrestoSolutions</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twitter.com/centralunivgh?s=20" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://facebook.com/centraledugh" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/centralunivgh/" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.youtube.com/@central_university1790" class="linkedin"><i class="bx bxl-youtube"></i></a>
    </div>
  </div>

  <!-- Privacy Policy Modal -->
  <!-- <div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #ca181e;">
                <h5 class="modal-title" id="privacyPolicyModalLabel" style="color: #fff;">Privacy Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: #ca181e; ">
                    <span aria-hidden="true" style="font-size: 25px; color: #fff;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>This website collects and processes personal data. By using this website, you consent to the collection and processing of your personal information as described in our data protection statement.</p>
              </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background: #ca181e; box-shadow: none;">Close</button>
            </div>
        </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#privacyPolicyModal').modal('show');
        });
  </script> -->

</footer><!-- End Footer -->


<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->


<script src="{{url_for("static", filename="vendor/purecounter/purecounter_vanilla.js")}}"></script>
<script src="{{url_for("static", filename="vendor/aos/aos.js")}}"></script>
<script src="{{url_for("static", filename="vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/glightbox/js/glightbox.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/isotope-layout/isotope.pkgd.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/swiper/swiper-bundle.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/php-email-form/validate.js")}}"></script>



<!-- Vendor JS Files -->
<!-- <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/vendor/php-email-form/validate.js"></script> -->

<!-- Template Main JS File -->
<!-- <script src="static/js/main.js"></script> -->
<script src="{{url_for("static", filename="js/main.js")}}"></script>

<!-- <script>
  function showDataProtectionStatement() {
      alert("This website collects and processes personal data. By using this website, you consent to the collection and processing of your personal information as described in our data protection statement.");
  }
  
  window.onload = function() {
      showDataProtectionStatement();
  };
</script> -->

</body>

</html>