<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0PK8SXFW8Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0PK8SXFW8Q');
</script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="icon" href="../static/img/fav.png" type="image/x-icon">
  
  {% if meta %}
  
<title>{{meta.title}}</title>
<meta name="keywords" content="Central University">
<meta name="description" content="{{meta.description}}">
<meta property="og:image" content="{{meta.image}}">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="400">
<meta property="og:image:height" content="400">
{% else %}
<title>Central University</title>
<meta name="keywords" content="Central University">
<meta property="og:image" content="../static/img/fav.png">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="400">
<meta property="og:image:height" content="400">

{% endif %}

  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v17.0" nonce="T2FyoL8J"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <!-- <script>
    $('.carousel').carousel({
  interval: 2000
})
  </script> -->
  <!-- Favicons -->
  <!-- <link href="assets/img/fav.png" rel="icon"> -->
  <link href="{{ url_for('static', filename='img/fav.png') }}" rel="icon">

  <!-- <link href="{{url_for("static", filename="img/fav.png")}}" rel="icon"> -->

  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <!-- <link href="{{url_for("static", filename="img/fav.png")}}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  <link href="{{url_for("static", filename="vendor/aos/aos.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/boxicons/css/boxicons.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/remixicon/remixicon.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
  <link href="{{url_for("static", filename="css/style.css")}}" rel="stylesheet">
  

  <!-- <script>
    function successCallback(token) {
        // You can handle the reCAPTCHA success if needed
        console.log("reCAPTCHA completed successfully");
    }

    function onloadCallback() {
        grecaptcha.render('divRecaptcha', {
            sitekey: '6Le6n1cpAAAAAFBssYWdASGHxKxyodk8rpKGxQNN',
            callback: successCallback,
        });
    }

    function submitFormWithRecaptcha() {
        // Get the reCAPTCHA response
        var recaptchaResponse = grecaptcha.getResponse();

        // Check if reCAPTCHA is completed
        if (recaptchaResponse.length === 0) {
            alert("Please complete the reCAPTCHA before submitting the form.");
            return false; // Prevent form submission
        }

        // Proceed with form submission
        return true; // Allow form submission
    }
  </script> -->

  <script>
    function successCallback(token) {
        // You can handle the reCAPTCHA success if needed
        console.log("reCAPTCHA completed successfully");
    }

    function onloadCallback() {
        grecaptcha.render('divRecaptcha', {
            sitekey: '6LfanVcpAAAAAAK5-iZYTwb9vw0mYIXbsU4S7aMU',
            callback: successCallback,
        });
    }
    function submitForm() {
          showLoadingScreen();
          return true; // Allow form submission
    }

    function showLoadingScreen() {
        var loadingScreen = document.getElementById('loading');
        loadingScreen.style.display = 'flex';
    }

    function hideLoadingScreen() {
        var loadingScreen = document.getElementById('loading');
        loadingScreen.style.display = 'none';
    }

    function submitFormWithRecaptcha() {
    // Get the reCAPTCHA response
    var recaptchaResponse = grecaptcha.getResponse();

    // Check if reCAPTCHA is completed
    if (recaptchaResponse.length === 0) {
        alert("Please complete the reCAPTCHA before submitting the form.");
        return false; // Prevent form submission
    }

    // Proceed with form submission
    return true; // Allow form submission
}
</script>

  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
  </script>


  {% block head %}
  {% endblock %}

</head>

<body>
  <br/>
  <br>
  <br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
  {% endwith %}


  

  <!-- ======= Header ======= -->
 <header id="header" class="sticky-top" style="background: #fff;">
  <div class="topbar d-flex align-items-center">
    <div class="container-fluid d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"></i><a href="mailto:pr@central.edu.gh" style="color: #fff; margin-left: 4px;">pr@central.edu.gh</a>
        <i class="bi bi-phone d-flex align-items-center ms-4"><a href="tel:+2330303318580" style="color: #fff;">+2330303318580</a></i>
      </div>
      <div class="d-none d-md-flex align-items-center">
        <nav id="topbar-navbar" class="navbar ">
          <ul>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle topbar-nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Students
            </a>
            <ul class="dropdown-menu">
                <a class="nav-link scrollto" href="https://student.central.edu.gh/login" target="_blank"><li>Student Portal</li></a>
                <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Schedule Of Fees</li></a>
                <a class="nav-link scrollto" href="https://eligibility.central.edu.gh" target="_blank"><li>Eligibility Checker</li></a>
                <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Financial Info And Scholarship</li></a>
                <a class="nav-link scrollto" href="https://webcms.central.edu.gh/wp-content/uploads/2023/08/Students-Handbook2018FINAL-2.pdf"><li>Student HandBook </li></a>
                <a class="nav-link scrollto" href="{{url_for('library')}}"><li>Library</li></a>
                <a class="nav-link scrollto" href="{{url_for('cucare')}}"><li>Counselling And Career Services Centre</li></a>
            </ul>
          </li>

          <a class="scrollto topbar-nav-link" href="{{url_for('alumni')}}"><li>Alumni</li></a>      

          <li class="nav-item dropdown">
            <a class="topbar-nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Faculty & Staff
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link scrollto" href="{{url_for('international')}}"><li>OSIS</li></a>
              <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Office 365</li></a>
              <a class="nav-link scrollto" href="{{url_for('library')}}"><li>Library</li></a>
              <a class="nav-link scrollto" href="{{url_for('cucare')}}"><li>Counselling And Career Services Centre</li></a>
            </ul>
          </li>

          <a class="scrollto topbar-nav-link" href="{{url_for('cucarepage')}}"><li>CUcare</li></a>      

          <a class="scrollto topbar-nav-link" href="#contact"><li>Contact Us</li></a>      

          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex align-items-center justify-content-between"> 

    {% if hideNav == True %}

      <a href="{{url_for('home')}}">
        <img class="" src="{{url_for("static",filename="img/Central-Uni-logo.png")}}" alt="" width="150">
      </a>

      {% else %}

        <!-- <img class="" src="assets/img/Central-Uni-logo.  png" alt="" width="150"> -->
      <a href="{{url_for('home')}}">
          <img class="" src="{{url_for("static",filename="img/Central-Uni-logo.png")}}" alt="" width="150">
        </a>
      {% endif %}

      <nav id="navbar" class="navbar navbar-light ">

        <ul>

          {% if hideNav != True %}
          <a class="nav-link" href="{{url_for('about')}}"><li>About CU</li></a>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Academics
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link scrollto" href="{{url_for('international')}}"><li>Study</li></a>
              <a class="nav-link scrollto" href="{{url_for('cirp')}}"><li>International Programmes Office </li></a>
              <a class="nav-link scrollto" href="https://webcms.central.edu.gh/wp-content/uploads/2024/04/2024-2025-Academic-Calendar.pdf"><li>Academic Calendar </li></a>
              <a class="nav-link scrollto" href="{{url_for('library')}}"><li>Library</li></a>
              <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Schedule Of Fees</li></a>
              <a class="nav-link scrollto" href="{{url_for('irb')}}"><li>Institutional Review Board </li></a>
              <a class="nav-link scrollto" href="{{url_for('cucare')}}"><li>Counselling And Career Services Centre</li></a>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admissions
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link scrollto" href="{{url_for('international')}}"><li>Programmes</li></a>
              <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Entry Requirements</li></a>
              <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Accommodation & Campus Life</li></a>
                <a class="nav-link scrollto" href="https://eligibility.central.edu.gh/"><li>Eligibility Checker</li></a>
                <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Schedule Of Fees</li></a>
                <a class="nav-link scrollto" href="{{url_for('online')}}"><li>Online Application</li></a>
                <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Financial Info And Scholarship</li></a>
                <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>CU-Gordon College Partnership Programme</li></a>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Schools
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='sop')}}"><li>School of Pharmacy </li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='facultyoflaw')}}"><li>Faculty of Law </li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='somah')}}"><li>School of Medical Sciences </li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='snm')}}"><li>School of Nursing & Midwifery</li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='soeat')}}"><li>School of Engineering & Technology</li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='fass')}}"><li>Faculty of Arts & Social Sciences </li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='sad')}}"><li>School of Architecture & Design </li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='cbs')}}"><li>Central Business School</li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='sogs')}}"><li>School of Graduate Studies & Research </li></a>
              <a class="nav-link scrollto" href="{{url_for('schoolpage', slug='code')}}"><li>Centre for Distance & Professional Education </li></a>
            </ul>
          </li>

          <a class="nav-link scrollto" href="{{url_for('chaplaincy')}}"><li>Chaplaincy </li></a>
          <a class="nav-link scrollto" href="{{url_for('news')}}"><li>News </li></a>

          
          <li class="nav-item dropdown d-lg-none">
            <a class="dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Students
            </a>
            <ul class="dropdown-menu">
                <a class="nav-link scrollto" href="https://student.central.edu.gh/login" target="_blank"><li>Student Portal</li></a>
                <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Schedule Of Fees</li></a>
                <a class="nav-link scrollto" href="https://eligibility.central.edu.gh" target="_blank"><li>Eligibility Checker</li></a>
                <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Financial Info And Scholarship</li></a>
                <a class="nav-link scrollto" href="https://webcms.central.edu.gh/wp-content/uploads/2023/08/Students-Handbook2018FINAL-2.pdf"><li>Student HandBook </li></a>
                <a class="nav-link scrollto" href="{{url_for('library')}}"><li>Library</li></a>
            </ul>
          </li>

          <a class="scrollto nav-link d-lg-none" href="{{url_for('alumni')}}"><li>Alumni</li></a>      

          <li class="nav-item dropdown d-lg-none">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Faculty & Staff
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link scrollto" href="{{url_for('international')}}"><li>OSIS</li></a>
              <a class="nav-link scrollto" href="{{url_for('admission')}}"><li>Office 365</li></a>
            </ul>
          </li>

          <li class="nav-item dropdown d-lg-none">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CUCare
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link scrollto" href="{{url_for('cucare')}}"><li>About CuCare</li></a>
              <a class="nav-link scrollto" href="https://forms.central.edu.gh/donation" target="_blank"><li>Donate to CuCare</li></a>
            </ul>
          </li>

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu">
                <a class="nav-link scrollto" href="{{url_for('summer')}}"><li>Summer School</li></a>
                <a class="nav-link scrollto" href="{{url_for('research')}}"><li>Research </li></a>
                <a class="nav-link scrollto" href="{{url_for('corporate')}}"><li>Corporate </li></a>
            </ul>
          </li> -->

          {% endif %}
          

          
          <a href="{{url_for('online')}}" target="_blank">
            <button class="pill-button" style="padding: 12px 13px; font-size: 16px;">
              Apply Now!
            </button>
          </a>
          
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    
  </div>
 </header>
 

<!-- Introductory Web Programming -->


<!-- <div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash flash-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div> -->
<!-- <br/> -->
{% block body %}

{% endblock %}


<div id="loading" style="height: 100vh; width: 100vw; display: none; background-color: white; position: fixed; top: 0; align-items: center; justify-content: center; z-index: 9999;">
  <div>

    <div style="width: 100%; text-align: center;">

      <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only"></span>
      </div>
      <h6 style="text-align: center;">{{loadingMessage}}</h6>
    </div>
  </div>
</div>
 
<a href="https://api.whatsapp.com/send?phone=233233313180" target="_blank" class="whatsapp-icon">
  <img src="{{url_for("static", filename="img/whatsappIcon.png")}}" alt="WhatsApp Icon">
</a>


<!-- ======= Footer ======= -->
<footer id="footer" style="margin-top: 3vh;">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 footer-contact">
          <img class="" src="{{url_for('static',filename='img/Central-Uni-logo.png')}}" alt="" width="150"> 
          <p>
            Miotso near Dawhenya <br>
            Accra -Aflao<br>
            P.O Box 2305 Tema or P.O. Box DS 2310 Dansoman,<br> Accra- Ghana -West Africa <br><br>
            <strong>Main Phone(Miotso):</strong><a href="tel:+2330303318580">+2330303318580</a>  <br>
            <strong>Admission</strong><a href="tel:+2330307020540">+2330307020540</a>  <br>
              
              <strong>Kumasi Campus</strong><a href="tel:+233 0322396189">+233 0322396189</a><br>
             <strong>Christ Temple </strong><a href="+2330302313185">+2330302313185</a><br>
             <strong>Whatsapp</strong><a href="tel:+2330233313180">+2330233313180</a> <br>
            <strong>Email:</strong><a href="mailto:verification@central.edu.gh">verification@central.edu.gh</a> <br>
            <strong>Email:</strong><a href="mailto:academicdirector@central.edu.gh">academicdirector@central.edu.gh</a> <br>
            <strong>Email:</strong><a href="mailto:international.relations@central.edu.gh">international.relations@central.edu.gh</a> <br>

          </p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Schools & Faculties</h4>
          <ul>   
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='sop')}}">School of Pharmacy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='facultyoflaw')}}">Faculty of Law </a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='somah')}}">School of Medical Sciences</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='snm')}}">School of Nursing & Midwifery</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='soeat')}}">School of Engineering & Technology</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='fass')}}">Faculty of Arts & Social Sciences</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='sad')}}">School of Architecture & Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='cbs')}}">Central Business School</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='sogs')}}">School of Graduate Studies & Research</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('schoolpage', slug='code')}}">Centre for Distance & Professional Education</a></li>
            
          </ul>
          
        </div>
        
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('home')}}">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('about')}}">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('admissions')}}">Admissions</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('library')}}">Library</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('faq')}}">FAQ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('online')}}">Apply Now</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
          </ul>
        </div>

        

        <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div> -->

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Central University</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
        Powered by <a href="https://prestoghana.com/">PrestoSolutions</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://www.linkedin.com/school/central-university-ghana/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
      <a href="https://twitter.com/centralunivgh?s=20" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
      <a href="https://facebook.com/centraledugh" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/centralunivgh/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.youtube.com/@central_university1790" class="linkedin" target="_blank"><i class="bx bxl-youtube"></i></a>      
    </div>
  </div>

  

</footer><!-- End Footer -->


<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->


<script src="{{url_for("static", filename="vendor/purecounter/purecounter_vanilla.js")}}"></script>
<script src="{{url_for("static", filename="vendor/aos/aos.js")}}"></script>
<script src="{{url_for("static", filename="vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/glightbox/js/glightbox.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/isotope-layout/isotope.pkgd.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/swiper/swiper-bundle.min.js")}}"></script>
<script src="{{url_for("static", filename="vendor/php-email-form/validate.js")}}"></script>


<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>

<!-- <script defer src="//firebase/8.9.1/firebase-storage.js"></script> -->



  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyCg_EQEs71TGryjko97MGRCMjNR_5RES30",
      authDomain: "ineruu-142dc.firebaseapp.com",
      databaseURL: "https://ineruu-142dc-default-rtdb.firebaseio.com",
      projectId: "ineruu-142dc",
      storageBucket: "ineruu-142dc.appspot.com",
      messagingSenderId: "718515493607",
      appId: "1:718515493607:web:72d459e0c8f56319b1a042",
      measurementId: "G-EEYCGFWVER"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

  <!-- <script>
    function successCallback(token) {
      debugger;
    }
  </script>

<script>
  function submitForm() {
      // Perform reCAPTCHA validation here
      var isRecaptchaValid = true; // Replace with your reCAPTCHA validation logic
      
      if (isRecaptchaValid) {
          // If reCAPTCHA is valid, show loading screen
          showLoadingScreen();
          return true; // Allow form submission
      } else {
          // If reCAPTCHA is not valid, do not submit the form
          return false;
      }
  }

  function showLoadingScreen() {
      // Display loading screen
      var loadingScreen = document.getElementById('loading');
      loadingScreen.style.display = 'flex';

      // Simulate loading delay (remove this in real implementation)
      setTimeout(function() {
          // Hide loading screen after content is loaded
          loadingScreen.style.display = 'none';
      }, 2000); // Simulated loading time of 2 seconds
  }
</script> -->


<!-- Template Main JS File -->
<!-- <script src="static/js/main.js"></script> -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>