{% extends "layout.html" %}
{% block head %}
<style>
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination button {
        padding: 8px 16px;
        margin: 0 5px;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .pagination button:hover {
        background-color: #ddd;
    }

    .pagination button.active {
        background-color: #007BFF;
        color: white;
    }
</style>
{% endblock %}
{% block body %}

<section style="padding-top: 15vh;">
    <div style="display: flex; align-items: center; margin-bottom: 1vh; justify-content: center;">
        <div class="line" style="width: 30px; height: 3px; margin-right: 14px; background-color: #ff4a17;"></div>
        <h3 style="padding-top: 3px;"><b>Latest News & Updates</b></h3>
        <div class="line" style="width: 30px; height: 3px; margin-left: 14px; background-color: #ff4a17;"></div>
    </div>

</section>
<!-- caurosel-->
<!-- <section style="padding-top: 15vh;">
    <div class="container">
        <div style="display: flex; align-items: center; margin-bottom: 5vh; justify-content: center;">
            <div class="line" style="width: 50px; height: 3px; margin-right: 14px; background-color: #ff4a17;"></div>
            <div class="line" style="width: 50px; height: 3px; margin-left: 14px; background-color: #ff4a17;"></div>
        </div>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="1500">
            <img src="{{url_for("static", filename="img/carosel/1.png")}}" class="d-block w-100 img-caro" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="{{url_for("static", filename="img/carosel/2.png")}}" class="d-block w-100 img-caro" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="{{url_for("static", filename="img/carosel/3.png")}}" class="d-block w-100 img-caro" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
            <img src="{{url_for("static", filename="img/carosel/4.png")}}" class="d-block w-100 img-caro" alt="...">
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
</section> -->

<section style="padding: 20px 0;">
    <div class="container">
        <div class="row" style="align-items: stretch;">

{% for article in news %}

           <div class="col-md-3"  style="margin-bottom: 20px;">
                <a href="/expand/{{article.id}}" style="text-decoration: none;">
                    <div class="card"  style="flex-grow: 1;">
                        <img class="card-img-top" src="{{article.image}}" width="100%" height="350px" style="object-fit: cover;" alt="Card image cap">                
                    <div class="card-body">
                        <!-- <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: yellow; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> {{article.id}}</b></h6>
                        </div> -->
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>{{article.title}}</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{article.date}}</small>
                    </div>
                    </div>
                </a>
            </div>
            {% endfor %} 
            <!-- <div class="col-md-3" style="margin-bottom: 20px;">
                <a href="/expand" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='img/blog2.jpg')}}" width="100%" alt="Card image cap">                
                    <div class="card-body">
                        <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: blue; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> STUDENT LIFE</b></h6>
                        </div>
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>Most students say their mental health suffered in pandemic.</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mr.Softlife - Jan 25, 2021</small>
                    </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom: 20px;">
                <a href="/expand" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='img/blog3.jpg')}}" width="100%" alt="Card image cap">                
                    <div class="card-body">
                        <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: red; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> SPOTLIGHT</b></h6>
                        </div>
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>9 Top Tips On How To Get A First Class Degree At University.</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mr.Softlife - Jan 25, 2021</small>
                    </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom: 20px;">
                <a href="/expand" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='img/blog4.jpg')}}" width="100%" alt="Card image cap">                
                    <div class="card-body">
                        <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: green; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> RESEARCH</b></h6>
                        </div>
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>Gender inequality in higher education persists.</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mr.Softlife - Jan 25, 2021</small>
                    </div>
                    </div>
                </a>
            </div>
                    
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-bottom: 20px;">
                <a href="/expand" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='img/blog8.jpg')}}" width="100%" alt="Card image cap">                
                    <div class="card-body">
                        <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: brown; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> Academics</b></h6>
                        </div>
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>Examination is approaching, we kindly wish all student the best in their exams. Student who hasn't made 75% payment of fees will be dealth with in the exams hall.</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mr.Softlife - Jan 25, 2021</small>
                    </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3"  style="margin-bottom: 20px;">
                <a href="/expand" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='img/blog5.jpg')}}" width="100%" alt="Card image cap">                
                    <div class="card-body">
                        <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: purple; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> admissions</b></h6>
                        </div>
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>International student tution fee down by 20%.</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mr.Softlife - Jan 25, 2021</small>
                    </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom: 20px;">
                <a href="/expand" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='img/blog6.jpg')}}" width="100%" alt="Card image cap">                
                    <div class="card-body">
                        <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: lime; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> Sports</b></h6>
                        </div>
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>New student ready to clinch championship over continuing student  in an NBA-tournament .</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mr.Softlife - Jan 25, 2021</small>
                    </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom: 20px;">
                <a href="/expand" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='img/blog7.jpg')}}" width="100%" alt="Card image cap">                
                    <div class="card-body">
                        <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: orange; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> Campus ministry</b></h6>
                        </div>
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>Peer councellors will be organising a guidance and counseling event at the Trinity Hall. All are cordially invited</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mr.Softlife - Jan 25, 2021</small>
                    </div>
                    </div>
                </a>
            </div> -->
               
            
            <div id="demo"></div>

            <div class="pagination" id="pagination">
                <button id="prevButton" onclick="previousPage()" disabled>Previous</button>
                <h4 class="text-muted" style="margin: auto 10px;">{{page}}/{{totalPages}}</h4>
                <button id="nextButton" onclick="nextPage()" disabled>Next</button>
            </div>
        </div>
    </div>
</section>

<script>
    // Backend values passed to the frontend
    const allPages = '{{totalPages}}'/* value from the backend */;
    let currentPage = '{{page}}'/* value from the backend */;
    const itemsPerPage = '{{per_page}}'/* value from the backend */;

    totalPages = parseInt(allPages)
    currentPage = parseInt(currentPage)
    updatePaginationButtons()
    // console.log(currentPage)

    function updatePaginationButtons() {
        const prevButton = document.getElementById("prevButton");
        const nextButton = document.getElementById("nextButton");

        prevButton.disabled = currentPage === 1;
        nextButton.disabled = currentPage === totalPages;
    }

    function showPage(pageNumber) {
    //     // Replace this section with code to fetch items from the backend based on 'pageNumber' and 'itemsPerPage'
    //     // and update the 'items' container accordingly
    //     // Example:
    //     const itemsContainer = document.getElementById("items");
    //     itemsContainer.innerHTML = `<p>Page ${pageNumber}</p>`;

    //     currentPage = pageNumber;
    //     updatePaginationButtons();

    // this should update the page based on 
    console.log("Currently on page: " + pageNumber)

    }

    function previousPage() {
        nextPage = currentPage - 1
        console.log("CurrentPage: " + currentPage + "NextPage: " + nextPage)

        if (currentPage > 1) {
            window.location.href = "?page="+nextPage;
            // showPage(currentPage - 1);
        }
    }

    function nextPage() {
        nextPage = currentPage + 1
        console.log("CurrentPage: " + currentPage + "NextPage: " + nextPage)

        if (currentPage < totalPages) {
            window.location.href = "?page="+nextPage;
            // showPage(currentPage + 1);
        }
    }

    // Show the initial page
    showPage(currentPage);
</script>

<script>
    function getImageUrl(id) { 
        let file = "https://wptemp-807994.ingress-florina.ewp.live/?rest_route=/wp/v2/media/"+id
        fetch(file)
        .then(x => x.json())
        .then(y => updateHtml(y));
    }
        
    function updateHtml(data) {
        console.log(data)
        document.getElementById("demo").innerText = "data"
    }

</script>

<script>
    function createNewPost(title, content) {
      posts = document.getElementsByClassName("postsContainer")[0]
    
      const post = document.createElement("div");
    
      post.className = "col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0";
      post.innerHTML = `
            <a href="{{url_for("post")}}">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <h4 class="title"><a href="">${title}</a></h4>
                <p class="description">${content.substring(0,80)}...</p>
            </div>
            </a>
            `
    
      posts.append(post)
    
      return post
    
    }
    
    //   url = "https://wptemp-807994.ingress-florina.ewp.live/?rest_route=/wp/v2/posts"
    //   fetch(url)
    //   .then(function(response) {
    //     return response.json();
    //   }).then(function(data) {
    //     console.log(data)
    
    //     for (let index = 0; index <= data.length; index++) {
    
    //       var title = data[index].title.rendered
    //       var post = data[index].content.rendered
         
    
    //       createNewPost(title, post)  
    //     }
    //   });
    </script>

{% endblock %}