  {% extends "layout.html" %}
  {% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="height: 90vh;">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-5" style="padding-top: 4vh;">
        <div class="col-lg-7 order-1 order-lg-1 text-left">
          <h6>Central University </h6>
          <h1>Online Application Portal</h1>
          <!-- <h6>To be able to apply on this website, you need to by an e-voucher from <a href="tel:887*18#">*887*18#</a>. With your e-voucher ready, you can pick a course and apply </h6> -->
          <h6 class="text-muted">You need to purchase an e-voucher with a Serial Number and a Pin to be able to apply on this site. Click here to find out how to purchase one. <a href="{{url_for("downloadOnlineManual")}}">Online Application Form Instructions</a> (You may kindly check your downloads after clicking the link) </h6>
          <br/>
          <div class="row">
            <div class="col-md-6" style="margin-bottom: 2vh;">
              <a href="#">
                <button id="myBtn" class="pill-button" style="width: 100%;">Click here to buy eVoucher</button>
              </a>
            </div>
            <div class="col-md-6" style="margin-bottom: 2vh;">
              <a href="#ourprograms">
                <button id="myBtn2" class="pill-button-alternate" style="width: 100%;"> Click here to select a program.</button>
              </a>
            </div>

          </div>
        </div>

        <div class="col-lg-5 order-2 order-lg-2">
            <img style="width:100%; object-fit:cover ;" src="{{ url_for ("static", filename="img/hero-img.svg")}}" alt="" srcset="">
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    


    <!-- ======= About Video Section ======= -->
    <section id="ourprograms" class="about-video" >
      <div class="container" data-aos="fade-up" data-aos-delay="">

        <!-- <div class="section-title">
          <h3 style="font-weight: 600;">Our Programs</h3>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div> -->

          <div class="row pt-3 pt-lg-0 mt-5 content" data-aos="fade-left" data-aos-delay="100">
          <div class="col-md-6" style="margin: 5px 0;">
            <div class="imgContainer">
              <img src="{{url_for ("static", filename="img/undergraduate.jpg")}}" alt="" srcset="" style="object-fit: cover; width:100%; height:auto">
            </div>
          </div>
          <div class="col-md-6 content" id="undergraduate">
            <h4 class="studentHeader" style="color: #992621;">Undergraduate</h4>
            <hr>
            <br>
            <p class="description">Welcome to the Undergraduate Online Application portal.
                October Admissions are opened to Nursing Professionals, Law and students joining mid stream (i.e. Level 200 & 300) as well as student professionals from other disciplines.
                February Admission is open to all prospective students joining in Level 100 as well as the Nursing Professionals and Law degree holders. <b>Apply Now!</b> <br>
                <b>Price: Ghc 200 </b>
            </p>
            <br>
              <div class="row">
                <div class="col-md-6" style="margin-bottom: 2vh;">
                  <a href="https://workflow.transflowitc.com/formfilling/df865240-7bd5-4f98-8805-a8a7e9f417b0" target="_blank">
                    <div class="pill-button" style="width: 100%;">2025/2026 October Cohort </div>
                  </a>
                </div>
                <div class="col-md-6" style="margin-bottom: 2vh;">
                  <a href="https://workflow.transflowitc.com/formfilling/94b223b4-9cda-45e0-a299-e3865103a1e9" target="_blank">
                    <div class="pill-button-alternate" style="width: 100%;">2026 February Cohort </div>
                  </a>
                </div>
    
              </div>
            </div>
          </div>

          <div class="row pt-3 pt-lg-0 mt-5 content" data-aos="fade-left" data-aos-delay="100">
            <div class="col-md-6 order-lg-2" style="margin: 15px 0;">
              <div class="imgContainer">
                <img src="{{url_for ("static", filename="img/mba.jpg")}}" alt="" srcset="" style="object-fit: cover; width:100%; height:auto">
              </div>
            </div>
            <div class="col-md-6 order-lg-1 content" id="postgraduate">
              <h4 class="studentHeader">Masters</h4>
              <hr>
              <br>
              <p class="description">Welcome to the master’s online application portal. October and February Admissions are open to all prospective applicants. You can earn a master’s degree at the School of Graduate Studies and Research from any of the programmes offered by the various Departments.
                <b>Apply Now!</b><br>
                <b>Price: Ghc 250 </b>
              </p>
              <br>
              <div class="row">
                <div class="col-md-6" style="margin-bottom: 2vh;">
                  <a href="https://workflow.transflowitc.com/formfilling/fc03823c-b1f0-45d4-baab-d42940c0ebdb" target="_blank">
                    <div class="pill-button" style="width: 100%; background: #000;">2025/2026 October Cohort </div>
                  </a>
                </div>
                <div class="col-md-6" style="margin-bottom: 2vh;">
                  <a href="https://workflow.transflowitc.com/formfilling/c727da34-2cf1-4996-9708-1dd41403ae37" target="_blank">
                    <div class="pill-button-alternate" style="width: 100%; color: #000; border: 1px solid #000;">2026 February Cohort </div>
                  </a>
                </div>
    
              </div>
            </div>
          </div>

          <div class="row pt-3 pt-lg-0 mt-5 content" data-aos="fade-left" data-aos-delay="100">
            <div class="col-md-6" style="margin: 15px 0;">
              <div class="imgContainer">
                <img src="{{url_for ("static", filename="img/doc.jpg")}}" alt="" srcset="" style="object-fit: cover; width:100%; height:auto">
              </div>
            </div>

            <div class="col-md-6 content" id="diploma">
              <h4 class="studentHeader" style="color: #992621;">Doctoral</h4>
              <hr>
              <br>
              <p class="description">
                Advance from executive leadership to doctoral distinction with our PhD Finance or Doctor of Business Administration (DBA); a globally relevant, practice-driven doctoral programmes designed for today’s strategic leaders.<b>Apply Now!</b><br>
                <b>Price: Ghc 300 </b>
              </p>
              <br>
              <div class="row">
                <div class="col-md-6" style="margin-bottom: 2vh;">
                  <a href="https://workflow.transflowitc.com/formfilling/5fa41bda-9384-498c-aff7-dd5b77ccba42" target="_blank">
                    <div class="pill-button" style="width: 100%;">Apply Now ! </div>
                  </a>
                </div>
    
              </div>
            </div>
          </div>

            <div class="row pt-3 pt-lg-0 mt-5 content" data-aos="fade-left" data-aos-delay="100">
              <div class="col-md-6 order-lg-2" style="margin: 15px 0;">
                <div class="imgContainer">
                  <img src="{{url_for ("static", filename="img/diploma.jpeg")}}" alt="" srcset="" style="object-fit: cover; width:100%; height:auto">
                </div>
              </div>
              <div class="col-md-6 order-lg-1 content" id="diploma">
                <h4 class="studentHeader">Diploma (ATHE)</h4>
                <hr>
                <br>
                <p class="description">
                  Gain admission to Central University this year. <b>ATHE</b> Diploma which is a WASSCE equivalent, qualifies you for admission into level 100 in many programmes.
                  Tuition is offered both in person and online.<b>Apply Now!</b><br>
                  <b>Price: Ghc 200 </b>
                </p>
                <br>
                <div class="row">
                  <div class="col-md-6" style="margin-bottom: 2vh;">
                    <a href="https://workflow.transflowitc.com/formfilling/3e189cb2-1c64-43f9-8377-0020bd5238a2" target="_blank">
                      <div class="pill-button" style="width: 100%; background: #000;">Apply Now ! </div>
                    </a>
                  </div>
      
                </div>
              </div>
            </div>

            <div class="row pt-3 pt-lg-0 mt-5 content" data-aos="fade-left" data-aos-delay="100">
              <div class="col-md-6" style="margin: 15px 0;">
                <div class="imgContainer">
                  <img src="{{url_for ("static", filename="img/postgrade.jpg")}}" alt="" srcset="" style="object-fit: cover; width:100%; height:auto">
                </div>
              </div>
              <div class="col-md-6 content" id="atle">
                <h4 class="studentHeader"style="color: #992621;">Diploma in Law Application</h4>
                <hr>
                <br>
                <p class="description">
                  The Diploma in Law is a two-year Diploma programme which qualifies you for admission into the four-year Law degree programme at the second year (level 200).
                  <b>Price: Ghc 200</b>
                </p>
                <br>
                <div class="row">
                  <div class="col-md-6" style="margin-bottom: 2vh;">
                    <a href="https://workflow.transflowitc.com/formfilling/1bb97e01-b717-4962-83fe-17d176b50dd4" target="_blank">
                      <div class="pill-button" style="width: 100%;">Apply Now ! </div>
                    </a>
                  </div>
      
                </div>
                <!-- <div class="pill-button" style="width: fit-content;"><a href="https://workflow.ourmarketplaceonline.com/formfilling/37a1e236-6873-42b3-8c1d-caae3d1dcb16" style="color: #fff;">Apply Now!</a></div> -->
              </div>
            </div>



      </div>
    </section><!-- End About Video Section -->


    
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Here are some frequently asked questions about admission and enrollment.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Where can one get the Central University application e-vouchers to buy?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Kindly visit any near by bank office to purchase our application e-voucher.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How much does the application fee cost? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The application e-voucher costs:
- Undergraduate: <b>Ghc 200</b>
- Postgraduate: <b>Ghc 250</b>
- Diploma: <b>Ghc 200</b>
Kindly note these prices are fixed.                  
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Can I visit my application document after I have finished filling the form online? If so, till when?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  While you are still workingand have not submitted with your Progress ID, you can always review your application with your Progress ID. <b>Note!:</b> After submission your application is been processed for admission, therefore you can not get a review permit 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What do I do if I have difficulty logging in? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Kindly Call the Admission office. Telephone: <strong>Admission</strong> +233  0307 020540
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">If I have D7 in English and Mathematics, do I have a chance to get processed for admissions?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  D7 doesn't qualify you for a degree program, however the university runs a diploma program <b>(ATHE)</b> that we belive can help you continue with studies in many programmes areas.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- The Modal -->
  <div id="myModal" class="modal" width="100%" style="margin:0;">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header" style="background: #992621; color: #fff;">
          <h2>How to Buy a eVoucher</h2>
          <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <h3>Steps</h3>
            <ol>
                <li>Enter the ussd code: <a href="tel:*887*18#">*887*9#</a> on your phone.</li>
                <b>OR</b>
                <li><a href="https://online-voucher.transflowitc.com/application-forms?merchant_id=15467d46-3be5-4ae5-9b20-d64ae21e9380">Buy CU forms via link</a></li>
                <li>Enter CU as the name of the university (eg:CU)</li>
                <li>Select the form you want to purchase from the list of options</li>
                <li>Wait for the prompt to approve the payment</li>
                <li>Enter pin to approve payment</li>
                <li>If the prompt was not received, dial *170# and select my approvals to make payment</li>
                <li>An <strong>SMS</strong> will be received after successful payment with the voucher details</li>
                <li>To <strong>Retrieve Voucher</strong> Dial *887*9# </li>
                <li>Select option to view history</li>
            </ol>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal2" class="container modal" width="50%" style="margin:20px 0;">

  <!-- Modal content -->
  <div class="modal-content">
      <div class="modal-header" style="background: #992621; color: #fff;">
        <h2>Our Payment Methods</h2>
        <span class="close2">&times;</span>
      </div>
      <div class="modal-body">
        <h6 class="">Kindly dial our USSD code to purchase e-voucher!</h6>
          <div class="container d-flex">
            <p><b>USSD: *887*18#</b></p>
          </div>
      </div>
  </div>
</div>


 
<script>
  // Get the modal
var modal = document.getElementById("myModal");
// var modal2 = document.getElementById("myModal2");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// var btn2 = document.getElementById("myBtn2");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// var span2 = document.getElementsByClassName("close2")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
modal.style.display = "block";
}
// btn2.onclick = function() {
// modal2.style.display = "block";
// }

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
modal.style.display = "none";
}

// span2.onclick = function() {
// modal2.style.display = "none";
// }

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal || event.target == modal2) {
  modal.style.display = "none";
  modal2.style.display = "none";
}
}


</script>


  {% endblock %}
