{% extends "layout.html" %}
{% block body %}

<section style="padding-top: 15vh;">
    <div class="container">

        


        <div class="row justify-content-center">

            <h3 id="title"></h3>
            
            <!-- TEXT CONTENT -->
            <div class="col-md-6"  id="content" style="padding-top: 4vh;" ></div>
            
            
            <!-- FEATURED IMAGE CONTENT -->
            <div class="col-md-6">
                <img src={{image}} alt="" srcset="" width="100%">
            </div>
            
        </div>


        <br/>
        <br/>

        
        <!-- DEPARTMENTS -->
        <div class="row justify-content-center">
            <div style="display: flex; align-items: center; margin-bottom: 5vh; justify-content: center;">
                <h3 style="padding-top: 3px;">DEPARTMENTS</h3>
            </div>
            
            {% for article in departments %}
            <div class="col-md-3"  style="margin-bottom: 20px;">
                <a href="/expand/{{article.id}}" style="text-decoration: none;">
                    <div class="card"  style="flex-grow: 1;">
                        <img class="card-img-top" src="{{article.image}}" width="100%" height="200px" style="object-fit: cover;" alt="Card image cap">                
                    <div class="card-body">
                        <!-- <div class="card-title" style="display: flex;">
                            <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: yellow; margin:5px 10px 0 0;"></div>
                            <h6 class="text-muted category"><b> {{article.id}}</b></h6>
                        </div> -->
                        <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>{{article.title}}</b></p>
                        </div>
                       
                        </div>
                    </a>
                </div>
            {% endfor %}
            

        </div>


       <!-- Administrative Staff -->
       <div class="row justify-content-center">
        <div style="display: flex; align-items: center; margin-bottom: 5vh; justify-content: center;">
            <h3 style="padding-top: 3px;">Administrative Staff</h3>
        </div>
        
        {% for article in administrative staff %}
        <div class="col-md-3"  style="margin-bottom: 20px;">
            <a href="/expand/{{article.id}}" style="text-decoration: none;">
                <div class="card"  style="flex-grow: 1;">
                    <img class="card-img-top" src="{{article.image}}" width="100%" height="200px" style="object-fit: cover;" alt="Card image cap">                
                <div class="card-body">
                    <!-- <div class="card-title" style="display: flex;">
                        <div class="elipse" style="border-radius: 50%; width: 10px; height: 10px; background: yellow; margin:5px 10px 0 0;"></div>
                        <h6 class="text-muted category"><b> {{article.id}}</b></h6>
                    </div> -->
                    <p class="card-text" style="font-size: 20px Butler; color: #111111;"><b>{{article.title}}</b></p>
                    </div>
                   
                    </div>
                </a>
            </div>
        {% endfor %}
        

    </div> 

       
    </div>
</section>

<script>

console.log("asd")
url = "{{url}}"
console.log(url)
  fetch(url)
  .then(function(response) {
      return response.json();
    }).then(function(data) {

        console.log("data")
        // console.log(data)
        
        document.getElementById("content").innerHTML = data.rendered_content[0].content.rendered
        document.getElementById("title").innerHTML = data.rendered_content[0].title.rendered
        // console.log(data)

        console.log(data.rendered_content)
        
    //   var title = data.rendered_content.title.rendered
    //   var post = data.rendered_content.content.rendered
     
    //   console.log(title)
    //   console.log(post)

  })   
</script>

{% endblock %}