{% extends "layout.html" %}

{% block body %}

<section class="hero5" style=" padding-top: 15vh;">
    <div cllass="container-fluid">
         
        
    </div>
    <div>
        <div class="header-text text-center" style="padding-top: 100px;">
            <div data-aos="fade-up"
            data-aos-duration="500">
              <h2 style="color: #fff; font-size: 60px; font-weight: 900; margin-bottom: 0;">Faculty & Staff</h2>
            </div>
            
            
          </div>
       </div>
</section>

<section style="margin-bottom: 5vh;">
    <div class="container">
        <div style="text-align: center; padding: 40px 0; ">
            <h2 style="font-size: 28px; font-weight: 600; letter-spacing: 2px;"><b>Resources and Services for Central Faculty & Staffs</b></h2>
        </div>
        
        <div>
            <div class="row ">
                <div class="col-md-6">
                  <div class="">
                    <img src="https://www.central.edu.gh/directory/photo/86/IMG_9444_CU-GORDON.jpg" class="card-img-top" alt="...">
                    <div style="padding: 20px 5px;">
                      <h4 style="padding-bottom: 6px; font-weight: 600; font-size: 25px;">Staff Benefits & Resources</h4>
                      <h6 style="font-size: 18px;">Learn about job opportunities, staff benefits, retirement plans, and more</h6>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                      <img src="https://www.central.edu.gh/directory/photo/86/IMG_9357_CU-GORDON.jpg" class="card-img-top" alt="...">
                      <div style="padding: 20px 5px;">
                        <h4 style="padding-bottom: 6px; font-weight: 600; font-size: 25px;">Faculty Resources </h4>
                        <h6 style="font-size: 18px;">We are responsible for implementation of University policy, Expand your knowledge and competency in financial activities.</h6>
                      </div>
                    </div>
                </div>
               
              </div>
        </div>
    </div>
</section>




{% endblock %}