{% extends "layout.html" %}
{% block body %}

<section style="padding-top: 7vh;">
    <div class="container">
        <div style="display: flex; align-items: center; margin-bottom: 1vh; justify-content: center;">
            <div class="line" style="width: 30px; height: 3px; margin-right: 14px; background-color: #ff4a17;"></div>
            <h4 style="padding-top: 1px;" id="title"><b></b></h4>
            <div class="line" style="width: 30px; height: 3px; margin-left: 14px; background-color: #ff4a17;"></div>
        </div>

        <div class="row justify-content-center" id="content">
            
        </div>
        <br>
        <br>
        <div class="container" id="contact" style="padding: 0;">
            <div class="row">
                <div class="col-md-12">
                    <h5><b>Apply for this Job Placement</b></h5>
                    <br/>
                    <form method="post" onsubmit="return showLoadingScreen();">
                        {{form.hidden_tag()}}
                        
                        <div class="form-floating mb-3">
                            {{form.name (class="form-control webForm", type="text", placeholder="Enter your name")}}
                            {{form.name.label}}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.number(class="form-control webForm", type="number", placeholder="Enter your number", pattern="[0-9+-]*", required=true) }}
                            {{ form.number.label }}
                        </div>
                        
                        <div class="form-floating mb-3">
                            {{ form.email(class="form-control webForm", type="email", placeholder="Enter your Email Address", required=true) }}
                            {{ form.email.label }}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.message (class="form-control webForm", placeholder="Write Message here", style="height: 12vh;")}}
                            {{form.message.label}}
                        </div>

                        <div>
                            {{form.submit (class="pill-button", style="width:100%") }}
                        </div>
            
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

console.log("Calling api!!")
url = "{{url}}"
  fetch(url)
  .then(function(response) {
      return response.json();
    }).then(function(data) {
        console.log("data")
        console.log(data)
        
        document.getElementById("content").innerHTML = data.rendered_content.content.rendered
        document.getElementById("title").innerHTML = data.rendered_content.title.rendered
        console.log(data)
        
      var title = data.rendered_content.title.rendered
      var post = data.rendered_content.content.rendered
     
      console.log("title")
      console.log(title)
      console.log("post")
      console.log(post)

  })   
</script>

{% endblock %}


